{% extends 'core/base.html' %}

{% load static i18n extra_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#id_start_date,#id_end_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
            $("#id_start_date,#id_end_date").attr("autocomplete", "off");

            $('#id_customer,#id_transaction_entity,#id_type').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">transactions</div>
    <div class="page-title">{% trans 'Транзакции' %}</div>
    <div>
        <form class="labeled page-toolbar">
            <div>
                <label for="id_customer" class="label">{% trans 'Клиент' %}</label>
                <select name="customer" id="id_customer">
                    <option value="">---------</option>
                    {% for customer in customers %}
                        <option value="{{ customer.id }}" {% if filters|get:'customer' == customer.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_type" class="label">{% trans 'Тип' %}</label>
                <select name="type" id="id_type">
                    <option value="">---------</option>
                    {% for type in types %}
                        <option value="{{ type.0 }}" {% if filters|get:'type' == type.0 %}selected{% endif %}>{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="id_start_date" class="label">{% trans 'Дата начала' %}</label>
                <div class="control">
                    <div class="field">
                        <input class="input"
                               name="start_date" id="id_start_date"
                               value="{{ filters|get:'start_date'|default:'' }}"/>
                    </div>
                </div>
            </div>
            <div>
                <label for="id_end_date" class="label">{% trans 'Дата конца' %}</label>
                <div class="control">
                    <div class="field">
                        <input class="input"
                               placeholder=""
                               name="end_date" id="id_end_date"
                               value="{{ filters|get:'end_date'|default:'' }}"/>
                    </div>
                </div>
            </div>

            <div>
                <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span class="icon is-small">
                            <i class="fas fa-filter"></i>
                        </span>
                    <span>{% trans 'Фильтр' %}</span>
                </button>
            </div>
            {% if has_filters %}
                <div>
                    <a href="{% url 'transaction-list' %}" class="button is-danger">
                            <span class="icon is-small">
                               <i class="fas fa-times"></i>
                            </span>
                        <span>{% trans 'Очистить' %}</span>
                    </a>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="subsection">
        <div class="subcontent">
            <table class="crm-table is-small">
                <thead>
                <tr>
                    <th>{% trans 'Клиент' %}</th>
                    <th>{% trans 'Дата' %}</th>
                    <th>{% trans 'Способ оплаты' %}</th>
                    <th>{% trans 'Тип' %}</th>
                    <th>{% trans 'Счет' %}</th>
                    <th>{% trans 'Сумма' %}</th>
                    <th>{% trans 'Внутренний статус' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions|paginate:request %}
                    <tr id="transaction-item-{{ transaction.id }}" data-id="{{ transaction.id }}"
                        class="clickable {% if transaction.is_canceled %}canceled-row{% endif %}">

                        <td>{{ transaction.customer }}</td>
                        <td>{{ transaction.created_at }}</td>
                        <td>{{ transaction.payment_method.name }}</td>
                        <td>{{ transaction.get_type_display }}</td>
                        <td>{{ transaction.invoice.title }}</td>
                        <td class="{% if transaction.type > 0 %} plus-amount {% else %} minus-amount{% endif %}">
                            $ {{ transaction.amount|thousands }}
                        </td>
                        <td>
                            {% if transaction.is_canceled %}
                                {% trans 'Аннулирована' %}
                            {% endif %}
                        </td>
                        <td>
                            {% if not transaction.is_canceled %}
                                <form method="post" action="{% url 'transaction-cancel' transaction.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="button is-small confirm-button"
                                            data-confirm-text="{% trans 'Что хотите аннулировать транзакцию' %}">
                                        {% trans 'Аннулировать' %}
                                    </button>
                                </form>
                            {% else %}
                                <button class="button is-small" disabled>{% trans 'Аннулировать' %}</button>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Транзакций нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% pages transactions request filters %}
        </div>
    </div>
{% endblock %}