{% extends 'base.html' %}
{% load i18n %}
{% block body %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="container is-fluid">
        <div class="modal-block form-box">
            <form method="post" class="item non-hover" action="{% url 'set_language' %}" style="margin-top: 10px;">
                {% csrf_token %}
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'en' %}selected{% endif %}" type="submit" name="language"
                        value="en">English
                </button>
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}" type="submit" name="language"
                        value="ru">Русский
                </button>
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'ky' %}selected{% endif %}" type="submit" name="language"
                        value="ky">Кыргызча
                </button>

            </form>
            <div class="modal-title">{% trans 'Регистрация в Billing CRM' %}</div>
            <form class="crm-form" method="post">
                {% csrf_token %}
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}

                {{ form.type.label_tag }}
                <div class="select">
                    {{ form.type }}
                </div>
                {{ form.type.errors }}

                {{ form.contact_email.label_tag }}
                {{ form.contact_email }}
                {{ form.contact_email.errors }}

                <label for="id_agreement_accepted">
                    {% trans 'Согласен с условиями использования' %}
                    <a href="{% url 'agreement' %}" target="_blank">{% trans 'Ознакомиться' %}</a>
                </label>
                {{ form.agreement_accepted }}
                {{ form.agreement_accepted.errors }}

                <div style="display: flex; margin-top: 20px; justify-content: space-between;">
                    <button class="crm-button info" type="submit">
                        {% trans 'Зарегистрироваться' %}
                    </button>

                    <a href="{% url 'login' %}"  class="crm-button ">
                        {% trans 'Войти' %}
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}