{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div style="text-align: center; margin-bottom: 20px">
                <div class="modal-title">{% trans 'Настройка завершена' %}</div>
                <p>{% trans 'Мы провели начальную настройку системы для вас' %}.</p>
                <p>{% trans 'Нажмите на кнопку ниже чтобы начать путешествие' %}!</p>
            </div>
            <form id="admin-personal-account-form"
                  style="display: flex; justify-content: center; align-content: center;"
                  action="{{ integration.crm_url }}/accounts/admin-login/"
                  method="post" class="item">
                <input type="hidden" name="token" value="{{ integration.value }}">
                <button type="submit" class="crm-button">{% trans 'Перейти' %}</button>
            </form>
        </div>
    </div>
{% endblock %}