{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{% trans 'Создание пользователя' %}</div>
            <p>{% trans 'Благодарим за регистрацию' %}!</p>
            <p>{% trans 'Для того чтобы начать работу, вам необходимо создать учетную запись.' %}</p>

            <form class="crm-form" method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}

                <div class="columns">
                    <div class="column">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="column">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                </div>

                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}

                <div class="columns">
                    <div class="column">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <div class="column">
                        {{ form.confirm_password.label_tag }}
                        {{ form.confirm_password }}
                        {{ form.confirm_password.errors }}
                    </div>
                </div>

                <div style="margin-top: 20px;">
                    <button  type="submit" class="crm-button">
                        {% trans 'Создать' %}
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}