{% extends 'payments/base.html' %}
{% load static i18n %}

{% block content %}
    <h1 class="title is-2">{% trans 'Billing' %}</h1>
    <h1 class="title is-3">{% trans 'Оплата' %}</h1>
    <h1 class="subtitle">{{ description }}</h1>

    <form class="form" method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label">{% trans 'Сумма' %} $</label>
            <div class="control">
                <input required name="amount" class="input" type="number" placeholder="{% trans 'Сумма в $' %}">
            </div>
            {% if form.amount.errors %}
                <p class="help is-danger">{{ form.amount.errors.0 }}</p>
            {% endif %}
        </div>

        <div class="field">
            <label class="label">{% trans 'Способ оплаты' %}</label>
            <div class="control">
                <div class="select">
                    <select name="payment_system">
                        <option value="paybox">Paybox</option>
                    </select>
                </div>
            </div>
            {% if form.payment_system.errors %}
                <p class="help is-danger">{{ form.payment_system.errors.0 }}</p>
            {% endif %}
        </div>

        <button type="submit" class="button is-success">{% trans 'Оплатить' %}</button>
    </form>

{% endblock %}