{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $("#id_start_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });

            $("#id_start_date").attr("autocomplete", "off");

            $('#id_license_entity').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li class=""><a href="{% url 'customer-detail' customer.id %}">{{ customer }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% trans 'Редактировать' %}</a></li>
        </ul>
    </nav>
    <div class="modal-block" style="width: 600px;">
        <div class="modal-title">{% trans 'Активировать клиент' %}</div>
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}

            <div class="title is-5">{% trans 'Лицензия' %}</div>
            <div class="columns">
                <div class="column">
                    {{ form.license_entity.label_tag }}
                    {{ form.license_entity }}
                    {{ form.license_entity.help_text_tag }}
                    {{ form.license_entity.errors }}
                </div>
                <div class="column">
                    {{ form.start_date.label_tag }}
                    {{ form.start_date }}
                    {{ form.start_date.help_text_tag }}
                    {{ form.start_date.errors }}

                    {{ form.price.label_tag }}
                    {{ form.price }}
                    {{ form.price.help_text_tag }}
                    {{ form.price.errors }}
                </div>
            </div>

            <div class="title is-5">{% trans 'Первый платеж' %}</div>
            <div class="subtitle is-6">{% trans 'Если у него есть скидка на первую оплату, то нужно тут поменять' %}</div>
            <div class="columns">
                <div class="column">
                    {{ form.first_payment.label_tag }}
                    {{ form.first_payment }}
                    {{ form.first_payment.help_text_tag }}
                    {{ form.first_payment.errors }}
                </div>
                <div class="column">
                    {{ form.first_payment_months.label_tag }}
                    {{ form.first_payment_months }}
                    {{ form.first_payment_months.help_text_tag }}
                    {{ form.first_payment_months.errors }}
                </div>
            </div>

            <div class="separator"></div>

            {{ form.non_field_errors }}

            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}