{% extends 'core/base.html' %}

{% load static i18n extra_tags %}

{% block content %}
    <div id="page-id">customers</div>
    <div class="page-title">{% trans 'Архив клиентов' %}</div>

    <div class="subsection">
        <div class="subcontent">
            <table class="crm-table is-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Статус' %}</th>
                    <th>{% trans 'Тип' %}</th>
                    <th>{% trans 'Количество пользователей' %}</th>
                    <th>{% trans 'Телефон' %}</th>
                    <th>Email</th>
                    <th>{% trans 'Действие' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers|paginate:request %}
                    <tr id="invoice-item-{{ customer.id }}" class="news-row" data-id="{{ customer.id }}">
                        <td>{{ request|counter:forloop.counter }}</td>
                        <td><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></td>
                        <td>{{ customer.get_status_display }}</td>
                        <td>{{ customer.type }}</td>
                        <td>{{ customer.users_count }}</td>
                        <td>{{ customer.contact_phone_number|default:'-' }}</td>
                        <td>{{ customer.contact_email|default:'-' }}</td>
                        <td>
                            <form id="delete-customer-form-{{ forloop.counter }}" method="post"
                                  action="{% url 'delete-customer' customer.id %}">
                                {% csrf_token %}
                                <button id="delete-customer-btn-{{ forloop.counter }}" onclick="confirmDeletion('{{ customer.name}}', {{ forloop.counter }})" type="button" class="button is-small">
                                    {% trans 'Удалить' %}
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% pages customers request params %}
        </div>
    </div>
{% endblock %}


{% block js %}
<script>
    function confirmDeletion(customerName, formId) {
        alert(`Вы уверены, что хотите удалить клиента ${customerName}? Все данные, связанные с этим клиентом, буду безвозвратно удалены`);
        let shouldDelete = confirm(`Подтвердите удаление ${customerName}`);
        if (shouldDelete) {
            $(`#delete-customer-form-${formId}`).submit();
        }
    }
</script>
{% endblock %}