{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            let pickers = $("#id_license_start_date,#id_license_end_date")

            pickers.datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });

            pickers.attr("autocomplete", "off");

            $('#id_license_entity,#id_type,#id_license_type').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            {% if form.instance.id %}
                <li class=""><a href="{% url 'customer-detail' form.instance.id %}">{{ form.instance }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Редактировать' %}</a></li>
            {% else %}
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Новый клиент' %}</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="modal-block" style="width: 600px;">
        <div class="modal-title">
            <div class="title is-5">{% trans 'Данные клиента' %}</div>
        </div>
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}


            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}

            {{ form.type.label_tag }}
            {{ form.type }}
            {{ form.type.errors }}

            {{ form.contact_person.label_tag }}
            {{ form.contact_person }}
            {{ form.contact_person.help_text_tag }}
            {{ form.contact_person.errors }}

            {{ form.contact_email.label_tag }}
            {{ form.contact_email }}
            {{ form.contact_email.help_text_tag }}
            {{ form.contact_email.errors }}

            {{ form.contact_phone_number.label_tag }}
            {{ form.contact_phone_number }}
            {{ form.contact_phone_number.help_text_tag }}
            {{ form.contact_phone_number.errors }}

            <div class="separator"></div>

            {{ form.non_field_errors }}

            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}