{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#id_crm_server').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li class=""><a href="{% url 'customer-detail' customer.id %}">{{ customer }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% trans 'Интеграция CRM' %}</a></li>
        </ul>
    </nav>
    <div class="modal-block" style="width: 600px;">
        <div class="modal-title">{% trans 'Интеграция с CRM' %}</div>
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}

            {{ form.crm_server.label_tag }}
            {{ form.crm_server }}
            {{ form.crm_server.help_text_tag }}
            {{ form.crm_server.errors }}

            <div class="separator"></div>

            {{ form.non_field_errors }}

            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}