{% extends 'core/base.html' %}
{% load static i18n extra_tags %}
{% block head %}
{% endblock %}

{% block content %}
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ customer.name }}</a></li>
        </ul>
    </nav>
    <div id="page-id">customers</div>

    <div class="upper-cards">
        <div class="info-block">
            <b class="big-text">{{ customer.name }}</b>
            <div class="small-text">{{ customer.description|default:''|truncatechars:30 }}</div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Контактное лицо' %}</div>
                <div class="small-text">
                    {{ customer.contact_person|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col" style="max-width: 1000px;">
                <div class="name">{% trans 'Контакты' %}</div>
                <div class="small-text">
                    {% trans 'Тел' %}: <b>{{ customer.contact_phone_number|default:'-' }}</b>
                </div>
                <div class="small-text">
                    {% trans 'Email' %}: <b>{{ customer.contact_email|default:'-' }}</b>
                </div>
            </div>
        </div>

        {% if customer.url %}
            <div class="info-block">
                <div class="col">
                    <div class="name">{% trans 'Сайт' %}</div>
                    <div class="small-text">
                        <a href="{{ customer.url }}" target="_blank">{{ customer.url }}</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if customer.contact_skype %}
            <div class="info-block">
                <div class="col">
                    <div class="name">Skype</div>
                    <div class="small-text">
                        {{ customer.contact_skype|default:'-' }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="info-block">
            <div class="col">
                <div class="name">CRM {% trans 'Сервер' %}</div>
                <div class="small-text">
                    {{ crm_integration.crm_url|default:'-' }}
                </div>
            </div>
        </div>


    </div>
    <div class="clearfix"></div>
    <div class="field is-grouped is-grouped-multiline" style="margin-top: 10px;">
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-info">{% trans 'С нами уже' %}</span>
                <span class="tag is-primary">{{ customer.created_at|timesince }}</span>
            </div>
        </div>
        {% if last_transaction %}
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-warning">{% trans 'Последний платеж был' %}</span>
                    <span class="tag is-success">
                        {% blocktrans with last_transaction.created_at|timesince as time %}{{ time }} назад{% endblocktrans %}
                    </span>
                </div>
            </div>
        {% endif %}

        {% if license_end_date %}
            <div class="control">
                <div class="tags has-addons">
                    {% if license_end_date < today %}
                        <span class="tag is-danger">{% trans 'Лицензия закончилась' %}</span>
                        <span class="tag is-warning">
                            {% blocktrans with license_end_date|timesince as time %}{{ time }} назад{% endblocktrans %}
                        </span>
                    {% else %}
                        <span class="tag is-link">{% trans 'Лицензия закончится' %}</span>
                        <span class="tag is-success">
                            {% blocktrans with license_end_date|timeuntil as time %}через {{ time }}{% endblocktrans %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-dark">{% trans 'Статус CRM' %}</span>
                <span class="tag is-warning">{{ customer.get_crm_status_display }}</span>
            </div>
        </div>
    </div>

    <div class="page-toolbar labeled">
        <div>
            <a href="{% url 'customer-update' customer.id %}" class="button is-white is-small">
                <span class="icon is-small"><i class="fas fa-pencil-alt"></i></span>
                <span>{% trans 'Изменить данные клиента' %}</span>
            </a>
        </div>

        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-customer-status">
                    <span class="icon is-small"><i class="fas fa-chevron-down"></i></span>
                    <span>{% trans 'Статус' %}: {{ customer.get_status_display }}</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-customer-status" role="menu">
                <form action="{% url 'customer-update-status' customer.id %}" class="dropdown-content" method="post">
                    {% csrf_token %}
                    {% for status in statuses %}
                        {% if status != customer.status %}
                            <button class="dropdown-item button is-small is-white" name="status"
                                    value="{{ status.value }}">{{ status.label }}</button>
                        {% else %}
                            <button class="dropdown-item button is-small is-white is-disabled" disabled>{{ status.label }}</button>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button is-white is-small" aria-haspopup="true" aria-controls="dropdown-crm-status">
                    <span class="icon is-small"><i class="fas fa-cog"></i></span>
                    <span>{% trans 'Действия' %}</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-crm-status" role="menu">
                <div class="dropdown-content">
                    {% if customer.crm_status == 'unknown' %}
                        <a href="{% url 'customer-create-integration' customer.id %}" class="dropdown-item">
                            <span class="icon is-small"><i class="fas fa-recycle"></i></span>
                            <span>{% trans 'Интегрировать CRM' %}</span>
                        </a>
                    {% elif customer.crm_status == 'active' %}
                        <form action="{% url 'customer-lock-crm' customer.id %}" method="post">
                            {% csrf_token %}
                            <button class="dropdown-item confirm-button button is-small is-white">
                                <span class="icon is-small"><i class="fas fa-lock"></i></span>
                                <span>{% trans 'Заблокировать CRM' %}</span>
                            </button>
                        </form>
                        {% if customer.status == 'test_drive' %}
                            <a href="{% url 'customer-activate' customer.id %}" class="button is-white is-small dropdown-item">
                                <span class="icon is-small"><i class="fas fa-angle-double-up"></i></span>
                                <span>{% trans 'Активировать' %}</span>
                            </a>
                            <form action="{% url 'customer-delete-crm' customer.id %}" method="post">
                                {% csrf_token %}
                                <button class="button is-white is-small confirm-button dropdown-item">
                                    <span class="icon is-small"><i class="fas fa-trash"></i></span>
                                    <span>{% trans 'Удалить CRM' %}</span>
                                </button>
                            </form>
                        {% endif %}
                    {% elif customer.crm_status == 'locked' %}
                        <a class="button is-white is-small dropdown-item" disabled>
                            <span class="icon is-small"><i class="fas fa-lock-open"></i></span>
                            <span>{% trans 'Разблокировать' %}</span>
                        </a>
                        {% if customer.status == 'test_drive' %}
                            <form action="{% url 'customer-delete-crm' customer.id %}" method="post">
                                {% csrf_token %}
                                <button class="button is-white is-small confirm-button dropdown-item">
                                    <span class="icon is-small"><i class="fas fa-trash"></i></span>
                                    <span>{% trans 'Удалить CRM' %}</span>
                                </button>
                            </form>
                        {% endif %}
                    {% elif status == 'deleted' %}
                        <a class="button is-white is-small" disabled>
                            <span class="icon is-small"><i class="fas fa-circle"></i></span>
                            <span>{% trans 'Действий нет' %}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="subsection">
        <div class="name">{% trans 'Счета на оплату' %}</div>
        <div style="margin-bottom: 16px;">
            {% if customer.licenses.count %}

                <a href="{% url 'invoice-create' customer.id %}" class="button is-white is-small">
                    <span class="icon is-small"><i class="fas fa-plus"></i></span>
                    <span>{% trans 'Добавить счет' %}</span>
                </a>
            {% else %}
                <a class="button is-white is-small" disabled>
                    <span class="icon is-small"><i class="fas fa-plus"></i></span>
                    <span>{% trans 'Добавить счет' %}</span>
                </a>
            {% endif %}
        </div>

        <div class="subcontent">
            <table class="crm-table is-small is-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Клиент' %}</th>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Изначальная сумма' %}</th>
                    <th>{% trans 'Сумма скидки' %}</th>
                    <th>{% trans 'Итоговая сумма' %}</th>
                    <th>{% trans 'Оплачен?' %}</th>
                    <th>{% trans 'Дата оплаты' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices|paginate:request %}
                    <tr class="clickable link">
                        <td>
                            <a href="{% url 'invoice-detail' invoice.id %}">#{{ invoice.id }}</a>
                        </td>
                        <td>{{ invoice.customer }}</td>
                        <td>{{ invoice.title }}</td>
                        <td>$ {{ invoice.initial_amount }}</td>
                        <td>$ {{ invoice.discount_amount }}</td>
                        <td>$ {{ invoice.final_amount }}</td>
                        <td>
                            {% if invoice.is_paid %}
                                <span class="icon active"><i class="fas fa-check-circle"></i></span>
                            {% else %}
                                <span class="icon inactive"><i class="fas fa-times-circle"></i></span>
                            {% endif %}
                        </td>
                        <td>{{ invoice.payment_date|default:'-' }}</td>
                        <td>
                            {% if not invoice.is_paid %}
                                <a class="button is-small" href="{% url 'invoice-pay' invoice.id %}">
                                    {% trans 'Внести оплату' %}
                                </a>
                            {% else %}
                                <button class="button is-small" disabled>
                                    {% trans 'Внести оплату' %}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Счетов нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% pages invoices request filters %}
        </div>
    </div>

    <div class="subsection">
        <div class="name">{% trans 'Лицензии' %}</div>
        <div style="margin-bottom: 16px;">
            <a href="{% url 'license-create' customer.id %}" class="button is-white is-small">
                <span class="icon is-small"><i class="fas fa-plus"></i></span>
                <span>{% trans 'Добавить лицензию' %}</span>
            </a>
        </div>

        <div class="subcontent">
            <table class="crm-table is-small dvData">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Лицензия за' %}</th>
                    <th>{% trans 'Тип' %}</th>
                    <th>{% trans 'Дата начала' %}</th>
                    <th>{% trans 'Дата окончания' %}</th>
                    <th>{% trans 'Стоимость' %} $</th>
                    <th>{% trans 'Скидка' %} %</th>
                    <th>{% trans 'Активна?' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for license in licenses %}
                    <tr id="student-{{ license.id }}" class="clickable link student-row" data-id="{{ license.id }}">
                        <td>
                            <a href="{% url 'license-detail' license.id %}">#{{ license.id }}</a>
                        </td>
                        <td>{{ license.license_entity }}</td>
                        <td>{{ license.get_type_display }}</td>
                        <td>{{ license.start_date|date:"d M Y" }}</td>
                        <td>{{ license.end_date|date:"d M Y" }}</td>
                        <td>${{ license.price|to_int }}</td>
                        <td>{{ license.discount_percentage }}%</td>
                        <td>
                            {% if license.active %}
                                <span class="icon active"><i class="fas fa-check-circle"></i></span>
                            {% else %}
                                <span class="icon inactive"><i class="fas fa-times-circle"></i></span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="button is-small" href="{% url 'license-update' license.id %}?customer={{ customer.id }}">
                                {% trans 'Изменить' %}
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <td colspan="100%">{% trans 'Лицензий нет' %}</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}