{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            let pickers = $("#id_license_start_date,#id_license_end_date")

            pickers.datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });

            pickers.attr("autocomplete", "off");

            $('#id_license_entity,#id_type,#id_license_type').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            {% if form.instance.id %}
                <li class=""><a href="{% url 'customer-detail' form.instance.id %}">{{ form.instance }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Редактировать' %}</a></li>
            {% else %}
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Новый клиент' %}</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="modal-block" style="width: 600px;">
        <div class="modal-title">{% trans 'Новый клиент' %}</div>
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}

            <div class="title is-5">{% trans 'Данные клиента' %}</div>

            <div class="columns">
                <div class="column">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}

                    {{ form.contact_person.label_tag }}
                    {{ form.contact_person }}
                    {{ form.contact_person.help_text_tag }}
                    {{ form.contact_person.errors }}

                    {{ form.contact_email.label_tag }}
                    {{ form.contact_email }}
                    {{ form.contact_email.help_text_tag }}
                    {{ form.contact_email.errors }}

                    {{ form.contact_phone_number.label_tag }}
                    {{ form.contact_phone_number }}
                    {{ form.contact_phone_number.help_text_tag }}
                    {{ form.contact_phone_number.errors }}
                </div>
                <div class="column">
                    {{ form.type.label_tag }}
                    {{ form.type }}
                    {{ form.type.errors }}

                    {{ form.users_count.label_tag }}
                    {{ form.users_count }}
                    {{ form.users_count.errors }}

                    {{ form.crm_server.label_tag }}
                    {{ form.crm_server }}
                    {{ form.crm_server.errors }}
                </div>
            </div>

            <div class="title is-5">{% trans 'Лицензия' %}</div>
            <div class="columns">
                <div class="column">
                    {{ form.license_entity.label_tag }}
                    {{ form.license_entity }}
                    {{ form.license_entity.errors }}
                </div>
                <div class="column">
                    {{ form.license_start_date.label_tag }}
                    {{ form.license_start_date }}
                    {{ form.license_start_date.errors }}

                    {{ form.license_price.label_tag }}
                    {{ form.license_price }}
                    {{ form.license_price.help_text_tag }}
                    {{ form.license_price.errors }}
                </div>
            </div>

            <div class="title is-5">{% trans 'Первый платеж' %}</div>
            <div class="columns">
                <div class="column">
                    {{ form.first_payment.label_tag }}
                    {{ form.first_payment }}
                    {{ form.first_payment.errors }}
                </div>
                <div class="column">
                    {{ form.first_payment_months.label_tag }}
                    {{ form.first_payment_months }}
                    {{ form.first_payment_months.help_text_tag }}
                    {{ form.first_payment_months.errors }}
                </div>
            </div>

            <div class="separator"></div>

            {{ form.non_field_errors }}

            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}