{% extends 'core/base.html' %}

{% load static i18n extra_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            Students.init()
            $('#id_types, #id_statuses').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <div class="page-title">{% trans 'Клиенты' %}</div>
    <div>
        <small>
            <span class="dot is-success"></span> {% trans 'Активный' %} : {{ active_customers }}
            <span class="dot is-danger"></span> {% trans 'Неактивный' %} : {{ inactive_customers }}
            <span class="dot"></span> {% trans 'Тестовый период' %} : {{ test_customers }}
        </small>
    </div>
        <div>
            <form class="labeled page-toolbar">
                <div>
                    <label for="id_types" class="label">{% trans 'Тип' %}</label>
                <select name="types" id="id_types" multiple>
                    {% for type in types %}
                        <option value="{{ type.id }}" {% if type.id in filters|get:'types' %}selected{% endif %}>
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
             <div>
                <label for="id_statuses" class="label">{% trans 'Статус' %}</label>
                <select name="statuses" id="id_statuses" multiple>
                    {% for status in statuses %}
                        <option value="{{ status }}" {% if status in filters|get:'statuses'  %}selected{% endif %}>
                            {{ status.label }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <div class="control has-icons-right">
                    <input name="search" class="input is-white" type="text"
                           placeholder="{% trans 'Поиск' %}"
                           value="{{ filters|get:'search'|default:'' }}">
                    <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                </div>
            </div>
            <div>
                <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span class="icon is-small">
                            <i class="fas fa-filter"></i>
                        </span>
                    <span>{% trans 'Фильтр' %}</span>
                </button>
            </div>
            {% if params %}
                <div>
                    <a href="{% url 'customer-list' %}" class="button is-danger">
                            <span class="icon is-small">
                               <i class="fas fa-times"></i>
                            </span>
                        <span>{% trans 'Очистить' %}</span>
                    </a>
                </div>
            {% endif %}
            <div>
                <a href="{% url 'customer-fast-create' %}" class="button is-white ajax-form"
                   title="{% trans 'Будут созданы: Клиент, Лицензия, Счет на Оплату, Интеграция с CRM' %}">
                        <span class="icon is-small">
                            <i class="fas fa-bolt"></i>
                        </span>
                    <span>{% trans 'Быстрое создание' %}</span>
                </a>
            </div>
            <div>
                <a href="{% url 'customer-create' %}" class="button is-white ajax-form">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                    <span>{% trans 'Добавить Клиента' %}</span>
                </a>
            </div>
                <div>
                    <a href="{% url 'archived-customer-list' %}" class="button is-white ajax-form">
                        <span class="icon is-small">
                            <i class="fas fa-archive"></i>
                        </span>
                        <span>{% trans 'Архив' %}</span>
                    </a>
                </div>
        </form>
    </div>

    <div class="subsection">
        <div class="subcontent">
            <table class="crm-table is-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Статус' %}</th>
                    <th>{% trans 'Тип' %}</th>
                    <th>{% trans 'Количество пользователей' %}</th>
                    <th>{% trans 'Телефон' %}</th>
                    <th>Email</th>
                    <th>{% trans 'Действие' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers|paginate:request %}
                    <tr id="invoice-item-{{ customer.id }}" class="clickable link news-row" data-id="{{ customer.id }}">
                        <td>{{ request|counter:forloop.counter }}</td>
                        <td><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></td>
                        <td>{{ customer.get_status_display }}</td>
                        <td>{{ customer.type }}</td>
                        <td>{{ customer.users_count }}</td>
                        <td>{{ customer.contact_phone_number|default:'-' }}</td>
                        <td>{{ customer.contact_email|default:'-' }}</td>
                        <td>
                            <a class="button is-small" href="{% url 'customer-update' customer.id %}">
                                {% trans 'Изменить' %}
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% pages customers request params %}
        </div>
    </div>
{% endblock %}