{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#id_start_date,#id_end_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
            $("#id_start_date,#id_end_date").attr("autocomplete", "off");

            $('#id_customer,#id_license_entity,#id_type').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">licenses</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li><a href="{% url 'customer-detail' customer.id %}" aria-current="page">{{ customer }}</a></li>
            <li><a href="{% url 'license-list' %}">{% trans 'Лицензии' %}</a></li>
            {% if form.instance.id %}
                <li><a href="{% url 'license-detail' form.instance.id %}" aria-current="page">{{ form.instance }}</a></li>
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Редактировать' %}</a></li>
            {% else %}
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Добавить' %}</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="modal-block" style="width: 444px;">
        {% if form.instance.id %}
            <div class="modal-title">{% trans 'Редактировать' %}</div>
        {% else %}
            <div class="modal-title">{% trans 'Новая лицензия' %}</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}

           {{ form.non_field_errors }}

            <div style="border-bottom: 1px solid rgba(169, 169, 169, 0.79)">
                {{ form.customer.label_tag }}
                {{ form.customer }}
                {{ form.customer.errors }}
            </div>
            <div style="border-bottom: 1px solid rgba(169, 169, 169, 0.79)">
                {{ form.license_entity.label_tag }}
                {{ form.license_entity }}
                {{ form.license_entity.errors }}
            </div>
            <div style="border-bottom: 1px solid rgba(169, 169, 169, 0.79)">
                {{ form.type.label_tag }}
                {{ form.type }}
                {{ form.type.errors }}
            </div>
            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            {{ form.start_date.errors }}

            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            {{ form.end_date.errors }}

            {{ form.price.label_tag }}
            {{ form.price }}
            {{ form.price.errors }}

            {{ form.discount_percentage.label_tag }}
            {{ form.discount_percentage }}
            {{ form.discount_percentage.errors }}

            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}

            {{ form.active.label_tag }}
            {{ form.active }}
            {{ form.active.errors }}

            {{ form.contact_skype.label_tag }}
            {{ form.contact_skype }}
            {{ form.contact_skype.errors }}


            <div class="separator"></div>
            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}