{% extends 'core/base.html' %}
{% load static i18n extra_tags %}
{% block head %}
{% endblock %}

{% block content %}
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li><a href="{% url 'customer-detail' license.customer_id %}">{{ license.customer }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ license.title }}</a></li>
        </ul>
    </nav>
    <div id="page-id">licenses</div>

    <div class="upper-cards">
        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Клиент' %}</div>
                <div class="small-text">
                    {{ license.customer|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Обьект лицензии' %}</div>
                <div class="small-text">
                    {{ license.license_entity|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Тип' %}</div>
                <div class="small-text">
                    {{ license.get_type_display|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Дата начала' %}</div>
                <div class="small-text">
                    {{ license.start_date|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Дата окончания' %}</div>
                <div class="small-text">
                    {{ license.end_date|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Исходная сумма' %}</div>
                <div class="small-text">
                    $ {{ license.price|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Cкидка' %}</div>
                <div class="small-text">
                    {{ license.discount_percentage|default:'-' }} %
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <div class=" is-inline-block">
            <div class="tags has-addons">
                <span class="tag is-dark">{% trans 'Лицензия' %}</span>
                {% if license.active %}
                    <span class="tag is-success">{% trans 'Активна' %}</span>
                {% else %}
                    <span class="tag is-danger">{% trans 'Неактивна' %}</span>
                {% endif %}
            </div>
        </div>
        <div class=" is-inline-block">
            <div class="tags has-addons">
                <span class="tag is-dark">{% trans 'Осталось' %}</span>
                {% if license.days_left > 15 %}
                    <span class="tag is-success">{{ license.end_date|timeuntil }}</span>
                {% elif license.days_left > 0 %}
                    <span class="tag is-warning">{{ license.end_date|timeuntil }}</span>
                {% else %}
                    <span class="tag is-danger">{{ license.end_date|timeuntil }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="page-toolbar labeled">
        <div>
            <a href="{% url 'license-update' license.id %}?license={{ license.id }}&customer={{ license.customer_id }}"
               class="button is-white is-small">
                <span class="icon is-small"><i class="fas fa-pencil-alt"></i></span>
                <span>{% trans 'Изменить' %}</span>
            </a>
        </div>
        <div>
            <form method="post" action="{% url 'license-prolong' license.id %}">
                {% csrf_token %}
                <button class="button is-white is-small confirm-button" data-confirm-text="{% trans 'Будет добавлен новый счет на оплату для продления лицензии' %}">
                    <span class="icon is-small"><i class="fas fa-clock"></i></span>
                    <span>{% trans 'Добавить счет на оплату на следующий период' %}</span>
                </button>
            </form>
        </div>
    </div>
    <div class="subsection">
        <div class="name" style="float:left;">{% trans 'Счета' %}</div>
        <div class="subcontent">
            <table class="crm-table is-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Изначальная сумма' %}</th>
                    <th>{% trans 'Сумма скидки' %}</th>
                    <th>{% trans 'Итоговая сумма' %}</th>
                    <th>{% trans 'Оплачен?' %}</th>
                    <th>{% trans 'Дата оплаты' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices|paginate:request %}
                    <tr class="clickable link">
                        <td><a href="{% url 'invoice-detail' invoice.id %}">#{{ invoice.id }}</a></td>
                        <td>{{ invoice.title }}</td>
                        <td>$ {{ invoice.initial_amount }}</td>
                        <td>$ {{ invoice.discount_amount }}</td>
                        <td>$ {{ invoice.final_amount }}</td>
                        <td>
                            {% if invoice.is_paid %}
                                <span class="icon active"><i class="fas fa-check-circle"></i></span>
                            {% else %}
                                <span class="icon inactive"><i class="fas fa-times-circle"></i></span>
                            {% endif %}
                        </td>
                        <td>{{ invoice.payment_date|default:'-' }}</td>
                        <td>
                            {% if not invoice.is_paid %}
                                <a class="button is-small" href="{% url 'invoice-pay' invoice.id %}">
                                    {% trans 'Внести оплату' %}
                                </a>
                            {% else %}
                                <button class="button is-small" disabled>
                                    {% trans 'Внести оплату' %}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Счетов нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% pages invoices request params %}
        </div>
    </div>


{% endblock %}