{% extends 'core/base.html' %}

{% load static i18n extra_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#id_start_date,#id_end_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
            $("#id_start_date,#id_end_date").attr("autocomplete", "off");

            $('#id_customer,#id_license_entity').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">licenses</div>
    <div class="page-title">{% trans 'Лицензии' %}</div>
    <div>
        <form class="labeled page-toolbar">
            <div>
                <div class="label">{% trans 'Клиент' %}</div>
                <select name="customer" id="id_customer">
                    <option value="">---------</option>
                    {% for customer in customers %}
                        <option value="{{ customer.id }}" {% if filters|get:'customer' == customer.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div class="label">{% trans 'Лицензия за' %}</div>
                <select name="license_entity" id="id_license_entity">
                    <option value="">---------</option>
                    {% for entity in license_entities %}
                        <option value="{{ entity.id }}" {% if filters|get:'license_entity' == entity.id %}selected{% endif %}>
                            {{ entity.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="id_start_date" class="label">{% trans 'Дата начала' %}</label>
                <div class="control">
                    <div class="field">
                        <input class="input"
                               name="start_date" id="id_start_date"
                               value="{{ filters|get:'start_date'|default:'' }}"/>
                    </div>
                </div>
            </div>
            <div>
                <label for="id_end_date" class="label">{% trans 'Дата конца' %}</label>
                <div class="control">
                    <div class="field">
                        <input class="input"
                               placeholder=""
                               name="end_date" id="id_end_date"
                               value="{{ filters|get:'end_date'|default:'' }}"/>
                    </div>
                </div>
            </div>

            <div>
                <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span class="icon is-small">
                            <i class="fas fa-filter"></i>
                        </span>
                    <span>{% trans 'Фильтр' %}</span>
                </button>
            </div>
            {% if has_filters %}
                <div>
                    <a href="{% url 'license-list' %}" class="button is-danger">
                            <span class="icon is-small">
                               <i class="fas fa-times"></i>
                            </span>
                        <span>{% trans 'Очистить' %}</span>
                    </a>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="subsection">
        <div class="subcontent">
            <table class="crm-table is-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Клиент' %}</th>
                    <th>{% trans 'Лицензия за' %}</th>
                    <th>{% trans 'Тип' %}</th>
                    <th>{% trans 'Дата начала' %}</th>
                    <th>{% trans 'Дата окончания' %}</th>
                    <th>{% trans 'Сумма' %}$</th>
                    <th>{% trans 'Скидка' %}%</th>
                    <th>{% trans 'Активна' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for license in licenses|paginate:request %}
                    <tr id="invoice-item-{{ license.id }}" class="clickable link news-row" data-id="{{ license.id }}">
                        <td><a href="{% url 'license-detail' license.id %}">#{{ license.id }}</a></td>
                        <td>{{ license.customer }}</td>
                        <td>{{ license.license_entity }}</td>
                        <td>{{ license.get_type_display }}</td>
                        <td>{{ license.start_date|date:"d M Y" }}</td>
                        <td>{{ license.end_date|date:"d M Y" }}</td>
                        <td>${{ license.price|to_int }}</td>
                        <td>{{ license.discount_percentage }}%</td>
                        <td>
                            {% if license.active %}
                                <span class="icon active"><i class="fas fa-check-circle"></i></span>
                            {% else %}
                                <span class="icon inactive"><i class="fas fa-times-circle"></i></span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="button is-small" href="{% url 'license-update' license.id %}?customer={{ license.customer_id }}">
                                {% trans 'Изменить' %}
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Лицензий нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% pages licenses request filters %}
        </div>
    </div>
{% endblock %}