{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{% trans 'Изменение пароля' %}</div>
            {% if user.one_time_password %}
                <div class="notification is-danger">{% trans 'Для безопасности вашего аккаунта, вы должны сменить ваш пароль' %}</div>
            {% endif %}

            <form class="crm-form" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="clearfix"></div>
                <button style="margin-top: 20px;" class="crm-button">{% trans 'Изменить пароль' %}</button>
                <button id="show-passwords" type="button" style="margin-top: 20px;" class="crm-button info">
                    <i class="fas fa-eye"></i> {% trans 'Показать/Скрыть пароль' %}</button>
            </form>
        </div>
    </div>
    <script>
        $(function () {
            $("#show-passwords").on("click", function (e) {
                e.preventDefault()
                if ($("#id_new_password1").attr("type") === "text") {
                    $("#id_new_password1").attr("type", "password")
                    $("#id_new_password2").attr("type", "password")
                } else {
                    $("#id_new_password1").attr("type", "text")
                    $("#id_new_password2").attr("type", "text")
                }
            })
        })
    </script>

{% endblock %}