{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="container is-fluid">
        <div class="modal-block form-box">
            <form method="post" class="item non-hover" action="{% url 'set_language' %}" style="margin-top: 10px;">
                {% csrf_token %}
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'en' %}selected{% endif %}" type="submit" name="language"
                        value="en">English
                </button>
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}" type="submit" name="language"
                        value="ru">Русский
                </button>
            </form>
            <div class="modal-title">{% trans 'Вход в Billing' %}</div>
            <form class="crm-form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">{% trans 'Пользователь' %}</label>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="Username">
                    </div>
                    {% if form.errors %}
                        <p class="help is-danger">{% trans 'Username or password is incorrect' %}</p>
                    {% endif %}
                </div>
                <div class="field">
                    <label class="label">{% trans 'Пароль' %}</label>
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="display: flex; margin-top: 20px; justify-content: space-between;">
                    <button class="crm-button info">{% trans 'Войти' %}</button>
{#                    <a href="{% url 'customer-registration' %}" class="crm-button">{% trans 'Регистрация' %}</a>#}
                    <a href="{% url 'reset_password' %}" class="crm-button red">{% trans 'Забыли пароль?' %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}