{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{{ title }}</div>

            <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>

            <a href="{% url 'login' %}" style="margin-top: 20px; display: inline-block;"
               class="crm-button">{% trans 'Войти' %}</a>
        </div>
    </div>
{% endblock %}