{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{% trans 'Восстановить пароль' %}</div>

            <form class="crm-form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">{% trans 'Email' %}</label>
                    <div class="control">
                        <input class="input" type="email" name="email" placeholder="{% trans 'Email' %}">
                    </div>
                    {% if form.errors %}
                        <p class="help is-danger">{{ form.errors.0 }}</p>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <button style="margin-top: 20px;" class="crm-button">{% trans 'Восстановить мой пароль' %}</button>
                <a href="{% url 'login' %}" style="margin-top: 20px;"
                   class="crm-button info to-right">{% trans 'Назад' %}</a>
            </form>
        </div>
    </div>
{% endblock %}