{% load i18n static %}
<div id="change-password-form-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modal-block" style="max-width: 444px;">
        <button class="modal-close is-large" aria-label="close"></button>
        <div class="modal-title">{{ title }}</div>

        <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
        <p style="margin-top: 20px;">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

        <a href="#" style="margin-top: 20px; display: inline-block;" class="crm-button" id="close-reset-form">{% trans 'Ок' %}</a>
    </div>

    <script>
        AjaxForms.onFormSuccess = function (response) {
            AjaxForms.closeModalForm()
        }

        $("#close-reset-form").on("click", function(){
            AjaxForms.closeModalForm()
            return false;
        })
    </script>
</div>