{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{% trans 'Введите новый пароль' %}</div>
            <div>{% trans 'Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.' %}</div>
            <form class="crm-form" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">{% trans 'Новый пароль' %}</label>
                    <div class="control">
                        <input class="input" type="password" name="new_password1">
                    </div>
                    {% if form.new_password1.errors %}
                        <p class="help is-danger">{{ form.new_password1.errors }}</p>
                    {% endif %}
                </div>
                <div class="field">
                    <label class="label">{% trans 'Подтвердите пароль' %}</label>
                    <div class="control">
                        <input class="input" type="password" name="new_password2">
                    </div>
                    {% if form.new_password2.errors %}
                        <p class="help is-danger">{{ form.new_password2.errors }}</p>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <button style="margin-top: 20px;" class="crm-button">{% trans 'Изменить мой пароль' %}</button>
                <a href="{% url 'login' %}" style="margin-top: 20px;"
                   class="crm-button info to-right">{% trans 'Назад' %}</a>
            </form>
        </div>
    </div>
{% endblock %}