{% load i18n static %}
<div id="change-password-form-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content modal-block" style="max-width: 444px;">
        <button class="modal-close is-large" aria-label="close"></button>

        <div class="modal-title">{% trans 'Восстановить пароль по почте' %}</div>
        {% if user.email %}
            <form action="{% url 'reset_password_ajax' %}" method="post" class="crm-form">
                {% csrf_token %}
                <label class="label">{% trans 'Email' %}</label>
                <div class="control">
                    <input class="input" type="email" name="email" value="{{ user.email }}" placeholder="{% trans 'Email' %}" readonly>
                </div>

                <div class="bottom-buttons">
                    <button type="submit" name="send" value="send" class="crm-button">
                        {% trans 'Отправить инструкцию по восстановлению' %}
                    </button>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Чтобы восстановить по почте у пользователя должен быть установлен email' %}</p>
        {% endif %}

        <div class="separator"></div>

        <form action="{{ request.path }}" method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}

            <div style="margin-top: 20px;" class="modal-title">{% trans 'Или изменить пароль аккаунта' %}</div>

            <label for="id_account">{% trans 'Имя пользователя' %}</label>
            <input readonly type="text" value="{{ user.username }}">

            {{ set_form }}

            <div class="bottom-buttons">
                <button name="set" value="set" type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
                <button id="show-passwords" type="button" class="crm-button info">
                    <i class="fas fa-eye"></i> {% trans 'Показать/Скрыть пароль' %}
                </button>
            </div>
        </form>
    </div>

    <script>
        AjaxForms.onFormSuccess = function (response) {
            AjaxForms.closeModalForm()
        }

        $(function () {
            $("#show-passwords").on("click", function (e) {
                e.preventDefault()
                if ($("#id_new_password1").attr("type") === "text") {
                    $("#id_new_password1").attr("type", "password")
                    $("#id_new_password2").attr("type", "password")
                } else {
                    $("#id_new_password1").attr("type", "text")
                    $("#id_new_password2").attr("type", "text")
                }
            })
        })
    </script>
</div>