{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{{ title }}</div>

            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
            <p style="margin-top: 20px;">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

            <a href="{% url 'home' %}" style="margin-top: 20px; display: inline-block;"
               class="crm-button">{% trans 'На главную' %}</a>
        </div>
    </div>
{% endblock %}