{% extends 'core/../base.html' %}
{% load i18n %}
{% block body %}
    <div class="container is-fluid">
        <div class="modal-block form-box">
            <div class="modal-title">{% trans 'Создание аккаунта' %}</div>

            <form class="crm-form" method="post">
                {% csrf_token %}
                <label for="id_email">{% trans 'Ваш email' %}</label>
                <input readonly type="text" value="{{ email }}">

                {{ form }}
                <div class="clearfix"></div>
                <button style="margin-top: 20px;" class="crm-button">{% trans 'Создать аккаунт' %}</button>
                <button id="show-passwords" type="button" style="margin-top: 20px;" class="crm-button info">
                    <i class="fas fa-eye"></i> {% trans 'Показать/Скрыть пароль' %}</button>
            </form>
        </div>
    </div>
    <script>
        $(function () {
            $("#show-passwords").on("click", function (e) {
                e.preventDefault()
                if ($("#id_password1").attr("type") === "text") {
                    $("#id_password1").attr("type", "password")
                    $("#id_password2").attr("type", "password")
                } else {
                    $("#id_password1").attr("type", "text")
                    $("#id_password2").attr("type", "text")
                }
            })
        })
    </script>

{% endblock %}