{% extends 'payments/base.html' %}
{% load static i18n %}

{% block content %}
    <div id="page-id">payment-orders</div>
    <h1 class="title is-2">{% trans 'Billing' %}</h1>
    <h1 class="title is-3">{% trans 'Статус оплаты' %} #{{ order.id }}</h1>
    <h1 class="subtitle">{{ order.description|default:"" }}</h1>
    <div><b>{% trans 'Способ оплаты' %}:</b> {{ order.get_payment_system_display }}</div>
    <div><b>{% trans 'Дата создания' %}:</b> {{ order.created_at|date:"d.m.Y H:i" }}</div>
    <div><b>{% trans 'Дата совершения платежа' %}:</b> {{ order.payment_date|date:"d.m.Y H:i"|default:"Неизвестно" }}</div>
    <div><b>{% trans 'Сумма' %}:</b>{{ order.amount }} {{ order.currency.code }}</div>

    {% if order.message %}
        <div>
            <b>{% trans 'Сообщение' %}:</b> {{ order.message }}
        </div>
    {% endif %}

    <div>
        <b>{% trans 'Статус' %}:</b>
        {% if order.status == "new" %}
            <span class="tag is-info">{{ order.get_status_display }}</span>
        {% elif order.status == "in_processing" %}
            <span class="tag is-warning">{{ order.get_status_display }}</span>
        {% elif order.status == "error" %}
            <span class="tag is-danger">{{ order.get_status_display }}</span>
        {% elif order.status == "success" %}
            <span class="tag is-success">{{ order.get_status_display }}</span>
        {% else %}
            <span class="tag is-dark">{{ order.get_status_display }}</span>
        {% endif %}
    </div>

    {% if order.status == "in_processing" %}
        <div style="margin-top: 20px;">
            <a href="#" class="button is-success" onclick="window.location.reload()">
                <span class="icon"><i class="fas fa-sync"></i></span>
                <span>{% trans 'Обновить' %}</span>
            </a>
        </div>
    {% endif %}
{% endblock %}