{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="crm-container">
        {% include 'blocks/mobile-bar.html' %}
        {% include 'blocks/left_menu.html' %}
        <div class="crm-content">
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
