{% extends 'core/base.html' %}

{% load static i18n extra_tags %}

{% block content %}
    <div id="page-id">dashboard</div>
    <div class="page-title">{% trans 'Дашборд' %}</div>

    <div class="subcontent mt-3 mb-1">
        <div><b>{% trans 'Приход по месяцам' %}</b></div>

    <div style="overflow-x: auto">
        <table class="table is-fullwidth is-bordered mt-1 is-small">
            <tr>
                {% for month, income in transactions_by_months.items %}
                    <td><b>{{ month|date:"M Y" }}</b></td>
                {% endfor %}
            </tr>
            <tr class="is-selected">
                {% for month, income in transactions_by_months.items %}
                    <td style="white-space:nowrap">${{ income|thousands }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>

    </div>

    <div class="subcontent mt-3 mb-1">
        <div style="overflow-x: auto">
            <table class="table is-fullwidth is-bordered mt-1 is-small">
                <tr>
                    {% for month, income in paid_for_months.items %}
                        <td><b>{{ month|date:"M Y" }}</b></td>
                    {% endfor %}
                </tr>
                <tr class="is-selected">
                    {% for month, income in paid_for_months.items %}
                        <td style="white-space:nowrap">${{ income|thousands }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>

    </div>

    <div class="subcontent">
        <div class="dashboard">
            <div class="dashboard-column">
                <div class="dashboard-column-header">
                    <p class="is-5">
                        {% trans 'Тест драйв' %} <b>{{ test_drive_customers|get:'count' }}</b>
                        <a href="{{ test_drive_customers|get:'url' }}">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        </a>
                    </p>
                </div>
                <div class="dashboard-column-list">
                    <table class="crm-table is-small">
                        <thead>
                        <tr>
                            <th>{% trans 'Осталось' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in test_drive_customers|get:'list' %}
                            <tr id="customer-{{ customer.id }}"
                                class="clickable link"
                                data-id="{{ customer.id }}">
                                <td>
                                    <b><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></b>
                                    <div class="tags has-addons">
                                        <span class="tag is-dark">{{ customer.next_payment_date|default:'-' }}</span>
                                        {% if customer.days_until_next_payment < 1 %}
                                            <span class="tag is-danger">{{ customer.next_payment_date|timeuntil|default:'-' }}</span>
                                        {% elif customer.days_until_next_payment <= 4 %}
                                            <span class="tag is-warning">{{ customer.next_payment_date|timeuntil|default:'-' }}</span>
                                        {% else %}
                                            <span class="tag is-success">{{ customer.next_payment_date|timeuntil|default:'-' }}</span>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="dashboard-column">
                <div class="dashboard-column-header">
                    <p class="is-5">
                        {% trans 'Активные клиенты' %}: <b>{{ paid_customers|get:'count' }}</b>
                        <a href="{{ paid_customers|get:'url' }}">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        </a>
                    </p>
                </div>
                <div class="dashboard-column-list">
                    <table class="crm-table is-small is-fullwidth">
                        <thead>
                        <tr>
                            <th>{% trans 'До след.оплаты' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in paid_customers|get:'list' %}
                            <tr id="customer-{{ customer.id }}"
                                class="clickable link"
                                data-id="{{ customer.id }}">
                                <td>
                                    <b><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></b>
                                    <div class="tags has-addons">
                                        <span class="tag is-dark">{{ customer.next_payment_date|default:'-' }}</span>
                                        <span class="tag is-success">{{ customer.next_payment_date|timeuntil|default:'-' }}</span>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="dashboard-column">
                <div class="dashboard-column-header">
                    <p class="is-5">
                        {% trans 'Подходит оплата' %}: <b>{{ need_to_pay_customers|get:'count' }}</b>
                        <a href="{{ need_to_pay_customers|get:'url' }}">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        </a>
                    </p>
                </div>
                <div class="dashboard-column-list">
                    <table class="crm-table is-small is-fullwidth">
                        <thead>
                        <tr>
                            <th>{% trans 'До след.оплаты' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in need_to_pay_customers|get:'list' %}
                            <tr id="customer-{{ customer.id }}"
                                class="clickable link"
                                data-id="{{ customer.id }}">
                                <td>
                                    <b><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></b>

                                    <div class="tags has-addons">
                                        <span class="tag is-dark">{{ customer.next_payment_date|default:'-' }}</span>
                                        <span class="tag is-warning">{{ customer.next_payment_date|timeuntil|default:'-' }}</span>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="dashboard-column">
                <div class="dashboard-column-header">
                    <p class="is-5">
                        {% trans 'Просрочено' %}: <b>{{ late_customers|get:'count' }}</b>
                        <a href="{{ late_customers|get:'url' }}">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        </a>
                    </p>
                </div>
                <div class="dashboard-column-list">
                    <table class="crm-table is-small is-fullwidth">
                        <thead>
                        <tr>
                            <th>{% trans 'Просрочено на' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in late_customers|get:'list' %}
                            <tr id="customer-{{ customer.id }}"
                                class="clickable link"
                                data-id="{{ customer.id }}">
                                <td>
                                    <b><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></b>

                                    <div class="tags has-addons">
                                        <span class="tag is-dark">{{ customer.next_payment_date|default:'-' }}</span>
                                        <span class="tag is-danger">{{ customer.next_payment_date|timesince|default:'-' }}</span>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="dashboard-column">
                <div class="dashboard-column-header">
                    <p class="is-5">
                        {% trans 'Неактивные клиенты' %}: <b>{{ inactive_customers|get:'count' }}</b>
                        <a href="{{ inactive_customers|get:'url' }}">
                            <span class="icon"><i class="fas fa-external-link-alt"></i></span>
                        </a>
                    </p>
                </div>
                <div class="dashboard-column-list">
                    <table class="crm-table is-small is-fullwidth">
                        <tbody>
                        {% for customer in inactive_customers|get:'list' %}
                            <tr id="customer-{{ customer.id }}"
                                class="clickable link"
                                data-id="{{ customer.id }}">
                                <td>
                                    <b><a href="{% url 'customer-detail' customer.id %}">{{ customer.name }}</a></b>

                                    <div class="tags has-addons">
                                        <span class="tag is-dark">{{ customer.next_payment_date|default:'-' }}</span>
                                        <span class="tag is-gray">{{ customer.next_payment_date|timesince|default:'-' }}</span>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100%">{% trans 'Клиентов нет' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
