{% extends 'core/../base.html' %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block body %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="container is-fluid">
        <div class="modal-block form-box">
            <form method="post" class="item non-hover" action="{% url 'set_language' %}" style="margin-top: 10px;">
                {% csrf_token %}
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'en' %}selected{% endif %}"
                        type="submit" name="language" value="en">English</button>
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}"
                        type="submit" name="language" value="ru">Русский</button>
            </form>
            <div class="modal-title">{% trans 'Моментальная подписка' %}</div>
            <form class="crm-form" method="post">
                {% csrf_token %}

                {{ form }}

                <div style="display: flex; margin-top: 20px; justify-content: space-between;">
                    <button class="crm-button"
                            name="method"
                            value="paybox"
                            style="color: white; background-color: #4dbd41;border: transparent">
                        Freedom Pay
                    </button>
                    <button class="crm-button"
                            name="method"
                            value="stripe"
                            style="color:white; background-color: #96f;border: transparent">
                        Stripe
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function (){
            let inputs = $("#id_start, #id_end")
            inputs.datepicker({dateFormat: "{{ JS_PICKER_DATE_FORMAT }}", firstDay: 1})
            inputs.attr("autocomplete", "off")
            inputs.toggleClass('datepicker')
        })
    </script>
{% endblock %}