{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#id_start_date,#id_end_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
            $("#id_start_date,#id_end_date").attr("autocomplete", "off");

            $('#id_license').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li><a href="{% url 'customer-detail' customer.id %}" aria-current="page">{{ customer }}</a></li>
            <li><a href="{% url 'license-list' %}">{% trans 'Лицензии' %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% trans 'Добавить' %}</a></li>
        </ul>
    </nav>
    <div class="modal-block" style="width: 444px;">
        <div class="modal-title">{% trans 'Новый счет' %}</div>
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}

            {{ form.non_field_errors }}
            {{ form.media }}

            {{ form.license.label_tag }}
            {{ form.license }}
            {{ form.license.errors }}

            {{ form.start_date.label_tag }}
            {{ form.start_date }}
            {{ form.start_date.errors }}

            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            {{ form.end_date.errors }}

            {{ form.initial_amount.label_tag }}
            {{ form.initial_amount }}
            {{ form.initial_amount.errors }}

            {{ form.discount_amount.label_tag }}
            {{ form.discount_amount }}
            {{ form.discount_amount.errors }}

            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}

            <div class="separator"></div>
            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}