{% extends 'core/base.html' %}
{% load static i18n extra_tags %}
{% block head %}
{% endblock %}

{% block content %}
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li><a href="{% url 'customer-detail' invoice.customer_id %}">{{ invoice.customer }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ invoice.title }}</a></li>
        </ul>
    </nav>
    <div id="page-id">invoices</div>

    <div class="upper-cards">
        <div class="info-block">
            <b class="big-text">{{ invoice.title }}</b>
            <div class="small-text"> {% trans 'Итого' %}: $ {{ invoice.final_amount }}</div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Клиент' %}</div>
                <div class="small-text">
                    {{ invoice.customer|default:'-' }}
                </div>
            </div>
        </div>

          <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Дата создания' %}</div>
                <div class="small-text">
                    {{ invoice.created_at|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Дата оплаты' %}</div>
                <div class="small-text">
                    {{ invoice.payment_date|default:'-' }}
                </div>
            </div>
        </div>

        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Исходная сумма' %}</div>
                <div class="small-text">
                    $ {{ invoice.initial_amount|default:'-' }}
                </div>
            </div>
        </div>


        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Сумма скидки' %}</div>
                <div class="small-text">
                    $ {{ invoice.discount_amount|default:'-' }}
                </div>
            </div>
        </div>


        <div class="info-block">
            <div class="col">
                <div class="name">{% trans 'Итоговая сумма' %}</div>
                <div class="small-text">
                    $ {{ invoice.final_amount|default:'-' }}
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>

    <div>
        <div class="is-inline-block">
            <div class="tags has-addons">
                <span class="tag is-dark">{% trans 'Счет' %}</span>
                {% if invoice.is_paid %}
                    <span class="tag is-success">{% trans 'Оплачен' %}</span>
                {% else %}
                    <span class="tag is-danger">{% trans 'Не оплачен' %}</span>
                {% endif %}
            </div>
        </div>

        {% if invoice.payment_date %}
            <div class="is-inline-block">
                <div class="tags has-addons">
                    <span class="tag is-dark">{% trans 'Дата оплаты' %}</span>
                    <span class="tag is-primary">{{ invoice.payment_date|date:"d M Y" }}</span>
                </div>
            </div>
        {% endif %}
    </div>

    {% if not invoice.is_paid %}
        <div class="page-toolbar labeled">
            <div>
                <div class="label">{% trans 'Ссылка для моментальной оплаты' %}</div>
                <div class="control">
                    <input readonly class="input is-white" type="text" style="width: 400px;" value="{{ pay_url }}">
                </div>
            </div>
        </div>
    {% endif %}

    <div class="subsection">
        <div class="name" style="float:left;">{{ invoice.title }}</div>
        <div class="subcontent">
            <table class="crm-table is-small dvData">
                <thead>
                <tr>
                    <th></th>
                    <th>{% trans 'Пункты' %}</th>
                    <th>{% trans 'Исходная сумма' %}</th>
                    <th>{% trans 'Сумма скидки' %}</th>
                    <th>{% trans 'Итоговая сумма' %}</th>
                    <th>{% trans 'Описание' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice_item in invoice_items %}
                    <tr id="student-{{ invoice_item.id }}" class="clickable student-row" data-id="{{ invoice_item.id }}">
                        <td></td>
                        <td>{{ forloop.counter }}. {{ invoice_item.title }}</td>
                        <td>$ {{ invoice_item.initial_amount }}</td>
                        <td>$ {{ invoice_item.discount_amount }}</td>
                        <td>$ {{ invoice_item.final_amount }}</td>
                        <td>
                            {% if invoice_item.license %}
                                {{ invoice_item.start_date }} - {{ invoice_item.end_date }}
                            {% endif %}
                            {{ invoice_item.desctiption|truncatechars:30|default:'' }}
                        </td>
                        <td>
                            {% if invoice.is_paid %}
                                <button class="button is-small" disabled>
                                    {% trans 'Изменить' %}
                                </button>
                            {% else %}
                                <a class="button is-small" href="{% url 'invoice-item-update' invoice.id invoice_item.id %}">
                                    {% trans 'Изменить' %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <td colspan="100%">{% trans 'Счет пустой' %}</td>
                {% endfor %}

                <tr>
                    <td></td>
                    <td colspan="100%">
                        {% if not invoice.is_paid %}
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <a href="" class="button is-small is-white">
                                        <span>{% trans 'Добавить пункт' %}</span>
                                    </a>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a href="{% url 'invoice-item-create' invoice.id %}?type=license_invoice_item" class="dropdown-item">
                                            {% trans 'Оплата за лицензию' %}
                                        </a>
                                        <a href="{% url 'invoice-item-create' invoice.id %}?type=invoice_item" class="dropdown-item">
                                            {% trans 'Оплата за что-то другое' %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td><b>{% trans 'Итого' %}</b></td>
                    <td></td>
                    <td><b>$ {{ invoice.initial_amount }}</b></td>
                    <td><b>$ {{ invoice.discount_amount }}</b></td>
                    <td><b>$ {{ invoice.final_amount }}</b></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}