{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#id_start_date,#id_end_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
            $("#id_start_date,#id_end_date").attr("autocomplete", "off");

            $('#id_license').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">customers</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li><a href="{% url 'customer-detail' invoice.customer_id %}">{{ invoice.customer }}</a></li>
            <li><a href="{% url 'invoice-detail' invoice.id %}" aria-current="page">{{ invoice }}</a></li>
            {% if form.instance.id %}
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Редактировать' %}</a></li>
            {% else %}
                <li class="is-active"><a href="#" aria-current="page">{% trans 'Новый объект счета' %}</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="modal-block" style="width: 444px;">
        {% if form.instance.id %}
            <div class="modal-title">{% trans 'Редактировать' %}</div>
        {% else %}
            <div class="modal-title">{% trans 'Новый объект счета' %}</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}
            {{ form }}
            <div class="separator"></div>
            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}