{% extends 'core/base.html' %}

{% load static i18n extra_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#id_start_date,#id_end_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
            $("#id_start_date,#id_end_date").attr("autocomplete", "off");

            $('#id_customer,#id_invoice_entity').fastselect();
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">invoices</div>
    <div class="page-title">{% trans 'Счета на оплату' %}</div>
    <div>
        <form class="labeled page-toolbar">
            <div>
                <div class="label">{% trans 'Клиент' %}</div>
                <select name="customer" id="id_customer">
                    <option value="">---------</option>
                    {% for customer in customers %}
                        <option value="{{ customer.id }}" {% if filters|get:'customer' == customer.id %}selected{% endif %}>
                            {{ customer.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="id_start_date" class="label">{% trans 'Дата начала' %}</label>
                <div class="control">
                    <div class="field">
                        <input class="input"
                               name="start_date" id="id_start_date"
                               value="{{ filters|get:'start_date'|default:'' }}"/>
                    </div>
                </div>
            </div>
            <div>
                <label for="id_end_date" class="label">{% trans 'Дата конца' %}</label>
                <div class="control">
                    <div class="field">
                        <input class="input"
                               placeholder=""
                               name="end_date" id="id_end_date"
                               value="{{ filters|get:'end_date'|default:'' }}"/>
                    </div>
                </div>
            </div>


            <div>
                <div class="control has-icons-right">
                    <input name="search" class="input is-white" type="text"
                           placeholder="{% trans 'Поиск' %}"
                           value="{{ filters|get:'search'|default:'' }}">
                    <span class="icon is-small is-right"><i class="fas fa-search"></i></span>
                </div>
            </div>

            <div>
                <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span class="icon is-small">
                            <i class="fas fa-filter"></i>
                        </span>
                    <span>{% trans 'Фильтр' %}</span>
                </button>
            </div>
            {% if has_filters %}
                <div>
                    <a href="{% url 'invoice-list' %}" class="button is-danger">
                            <span class="icon is-small">
                               <i class="fas fa-times"></i>
                            </span>
                        <span>{% trans 'Очистить' %}</span>
                    </a>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="subsection">
        <div class="subcontent">
            <table class="crm-table is-small is-small">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Клиент' %}</th>
                    <th>{% trans 'Название' %}</th>
                    <th>{% trans 'Изначальная сумма' %}</th>
                    <th>{% trans 'Сумма скидки' %}</th>
                    <th>{% trans 'Итоговая сумма' %}</th>
                    <th>{% trans 'Оплачен?' %}</th>
                    <th>{% trans 'Дата оплаты' %}</th>
                    <th>{% trans 'Действия' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices|paginate:request %}
                    <tr class="clickable link">
                        <td>
                            <a href="{% url 'invoice-detail' invoice.id %}">#{{ invoice.id }}</a>
                        </td>
                        <td>{{ invoice.customer }}</td>
                        <td>{{ invoice.title }}</td>
                        <td>$ {{ invoice.initial_amount }}</td>
                        <td>$ {{ invoice.discount_amount }}</td>
                        <td>$ {{ invoice.final_amount }}</td>
                        <td>
                            {% if invoice.is_paid %}
                                <span class="icon active"><i class="fas fa-check-circle"></i></span>
                            {% else %}
                                <span class="icon inactive"><i class="fas fa-times-circle"></i></span>
                            {% endif %}
                        </td>
                        <td>{{ invoice.payment_date|default:'-' }}</td>
                        <td>
                            {% if not invoice.is_paid %}
                                <a class="button is-small" href="{% url 'invoice-pay' invoice.id %}">
                                    {% trans 'Внести оплату' %}
                                </a>
                            {% else %}
                                <button class="button is-small" disabled>
                                    {% trans 'Внести оплату' %}
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">{% trans 'Счетов нет' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% pages invoices request filters %}
        </div>
    </div>
{% endblock %}