{% extends 'core/base.html' %}
{% load static extra_tags i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'libs/fastselect/fastselect.min.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'libs/fastselect/fastselect.standalone.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#id_license').fastselect();

            $("#id_payment_date").datepicker({
                dateFormat: "{{ JS_PICKER_DATE_FORMAT }}",
                firstDay: 1
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div id="page-id">invoices</div>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'customer-list' %}">{% trans 'Клиенты' %}</a></li>
            <li><a href="{% url 'customer-detail' invoice.customer_id %}">{{ invoice.customer }}</a></li>
            <li><a href="{% url 'invoice-list' %}">{% trans 'Счета' %}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% trans 'Оплата счета' %}</a></li>
        </ul>
    </nav>
    <div class="modal-block" style="width: 444px;">
        <div class="modal-title">{% trans 'Оплатить счет' %}</div>
        <form method="post" enctype="multipart/form-data" class="crm-form">
            {% csrf_token %}
            <div class="columns">
                <div class="column">
                    <label>{% trans 'Клиент:' %}</label>
                    <p class="is-5">{{ invoice.customer }}</p>
                </div>
                <div class="column">
                    <label>{% trans 'Баланс:' %}</label>
                    <p class="is-5">{{ customer_balance }} $</p>
                </div>
            </div>

            {{ form }}

            <div class="separator"></div>
            <div class="bottom-buttons">
                <button type="submit" class="crm-button">
                    {% trans 'Сохранить' %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}