{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    {% block title %}
        <title>Billing</title>
    {% endblock %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}?v=15"></script>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=11"/>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="notifications">
    {% for message in messages %}
        <div class="notification is-{{ message.tags }}">
            <button class="delete"></button>
            {{ message }}</div>
    {% endfor %}
</div>
{% block body %}
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>