{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="left-menu">
    <span class="close-burger">
      <i class="fas fa-times"></i>
    </span>
    <div class="content">
        <div>
            {% if org.logo.name %}
                <a href="/"><img class="logo-title" src="{{ org.logo.url }}" alt="{{ org.name }} Logo"></a>
            {% endif %}

            <span class="item org-name">
                <span class="name">Super Admin</span>
            </span>

            <form method="post" class="item non-hover" action="{% url 'set_language' %}" style="margin-top: 20px;">
                {% csrf_token %}
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'en' %}selected{% endif %}"
                        type="submit"
                        name="language"
                        value="en">En
                </button>
                <button class="non-button language-switch {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}"
                        type="submit"
                        name="language"
                        value="ru">Ru
                </button>
            </form>
            {% if request.user.is_superuser %}
                <a href="{% url 'dashboard' %}" class="item active" data-id="dashboard">
                    <div class="name">{% trans 'Дашборд' %}</div>
                </a>

                <a href="{% url 'customer-list' %}" class="item" data-id="customers">
                    <div class="name">{% trans 'Клиенты' %}</div>
                </a>

                <a href="{% url 'license-list' %}" class="item" data-id="licenses">
                    <div class="name">{% trans 'Лицензии' %}</div>
                </a>

                <a href="{% url 'invoice-list' %}" class="item" data-id="invoices">
                    <div class="name">{% trans 'Счета' %}</div>
                </a>
                <a href="{% url 'transaction-list' %}" class="item" data-id="transactions">
                    <div class="name">{% trans 'Транзакции' %}</div>
                </a>
            {% else %}
                <a href="{% url 'home' %}" class="item active" data-id="home">
                    <div class="name">{% trans 'Главная' %}</div>
                </a>

                <a href="{% url 'cabinet:invoice-list' %}" class="item" data-id="invoices">
                    <div class="name">{% trans 'Счета' %}</div>
                </a>

            {% endif %}
        </div>
        <div>
            {% if user.x_integration %}
                <a href="{% url 'back_to_crm' %}" class="item" data-id="back_to_crm">
                    <div class="name"><i class="fa fa-arrow-left"></i> {% trans 'Назад в CRM' %}</div>
                </a>
            {% endif %}
            <a href="{% url 'logout' %}" class="item" data-id="logout">
                <div class="name">{% trans 'Выйти с аккаунта' %}</div>
            </a>
        </div>
    </div>
</div>