{% load i18n %}
<div class="field has-addons" style="margin-top: 16px;">
    {% for page in pages %}
        {% if page == current_page %}
            <p class="control">
                <a class="button is-small is-primary" >
                    {{ page }}
                </a>
            </p>
        {% else %}
            {% if page == 'first' %}
                <p class="control">
                    <a class="button is-small" href="?page={{ 1 }}&per_page={{ per_page }}&{{ extra_params }}">
                        <span class="icon is-small">
                          <i class="fas fa-angle-double-left"></i>
                        </span>
                    </a>
                </p>
            {% elif page == 'last' %}
                 <p class="control">
                    <a class="button is-small" href="?page={{ last }}&per_page={{ per_page }}&{{ extra_params }}">
                        <span class="icon is-small">
                          <i class="fas fa-angle-double-right"></i>
                        </span>
                    </a>
                </p>
            {% else %}
                <p class="control">
                    <a class="button is-small" href="?page={{ page }}&per_page={{ per_page }}&{{ extra_params }}">
                        {{ page }}
                    </a>
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>