{% load i18n %}
<div class="payments-view">
    {% for period in payment_periods %}
        {% if period.need_to_pay %}
            {% if period.paid %}
                <div class="item paid"></div>
            {% else %}
                <div class="item not-paid"></div>
            {% endif %}
        {% else %}
            {% if period.paid %}
                <div class="item paid"></div>
            {% else %}
                <div class="item"></div>
            {% endif %}
        {% endif %}
        {% if not forloop.last %}
            <div class="divider"></div>
        {% endif %}
    {% empty %}
        {% trans 'Контракт не составлен' %}
    {% endfor %}
</div>