{% extends 'payments/base.html' %}

{% load static i18n extra_tags %}

{% block content %}
    <div id="page-id">payment-orders</div>
    <div class="page-title">{% trans 'Платежи' %}</div>
    <div class="subsection">
        <div class="subcontent">
            <table class="crm-table is-small">
                <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Дата' %}</th>
                    <th>{% trans 'Сумма' %}</th>
                    <th>{% trans 'Статус' %}</th>
                    <th>{% trans 'Сообщение' %}</th>
                    <th>{% trans 'Внешний ID' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders|paginate:request %}
                    <tr id="invoice-item-{{ order.id }}" class="clickable news-row" data-id="{{ order.id }}">
                        <td>#{{ order.id }}</td>
                        <td>
                            <a href="{% url 'payment_status_view' order.id %}">
                                {{ order.created_at }}
                            </a>
                        </td>
                        <td>{{ order.amount }} {{ order.currency }}</td>
                        <td>
                            {% if order.status == "new" %}
                                <span class="tag is-info">{{ order.get_status_display }}</span>
                            {% elif order.status == "in_processing" %}
                                <span class="tag is-warning">{{ order.get_status_display }}</span>
                            {% elif order.status == "error" %}
                                <span class="tag is-danger">{{ order.get_status_display }}</span>
                            {% elif order.status == "success" %}
                                <span class="tag is-success">{{ order.get_status_display }}</span>
                            {% else %}
                                <span class="tag is-dark">{{ order.get_status_display }}</span>
                            {% endif %}
                        </td>
                        <td>{{ order.message|default:'-' }}</td>
                        <td>{{ order.external_order_id|default:'-' }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% pages orders request params %}
{% endblock %}