@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

html, body {
    background-color: #F9F9FB;
    height: 100%;
    font-family: Inter, sans-serif;
}

.crm-container {
    display: flex;
    width: 100%;
    min-height: 100%;
    height: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.left-menu {
    z-index: 1;
    flex-basis: 178px;
    flex-shrink: 0;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 38px;
    padding-bottom: 33px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-width: 178px;
    position: relative;
}

.left-menu::-webkit-scrollbar {
    display: none;
}

.left-menu .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.crm-content {
    overflow: scroll;
    flex-basis: 100%;
    background: #F3F3F3;
    padding: 45px 36px 20px;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.crm-content.no-padding {
    padding: 0;
}

.crm-content.with-courses-list {
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.crm-content .courses-list {
    background: #EDEDED;
    flex-basis: 275px;
    flex-shrink: 0;
}

.crm-content .courses-list .item {
    padding: 10px 30px;
}

.crm-content .courses-list .item.selected {
    background: #F3F3F3;
}

.crm-content .courses-list .item:first-child {
    margin-top: 10px;
}

.crm-content .courses-content {
    flex-basis: 100%;
    padding: 39px 27px;
}

.logotype {
    display: inline-block;
    margin-left: 25px;
    width: 44px;
    height: 44px;
    background: conic-gradient(from 242.4deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, rgba(169, 206, 232, 0.552083) 161.25deg, #63A5D6 267.25deg, rgba(255, 255, 255, 0) 360deg), #31529A;
    border-radius: 5px;
}

.logo-title {
    display: inline-block;
    margin-left: 24px;
    width: 100px;
}

.left-menu .item {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 42px;
    padding-left: 24px;
}

.left-menu .item.org-name {
    height: auto;
}

.left-menu .item:hover {
    background: rgba(232, 232, 232, 0.51);
}

.left-menu .item.non-hover:hover {
    background: none;
}

.left-menu .item.active {
    background: #EDEDED;
}

.left-menu .item > .icon {
    width: 20px;
    height: 20px;
}

.left-menu .item > .name {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    color: #0e0e30;
}

.left-menu .item.org-name > .name {
    font-weight: bold;
    color: #3273dc;
}

.page-title {
    font-size: 22px;
    color: #0e0e30;
    font-weight: 500;
}

.page-subtitle {
    font-size: 14px;
    margin-top: 6px;
    color: rgb(74, 74, 74);
}

.page-toolbar {
    margin-top: 20px;
}

.page-toolbar > * {
    margin-top: 10px;
}

.page-toolbar .control {
    display: inline-block;
}

.page-toolbar .control input {
    display: inline-block;
    width: 120px;
    box-shadow: none;
}

.page-toolbar.labeled {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.page-toolbar.labeled > div {
    margin-right: 4px;
    margin-top: 4px;
}

.page-toolbar.labeled .label {
    max-width: 100%;
    line-height: 12px;
    font-size: 12px;
}

.subsection {
    margin-top: 25px;
    margin-bottom: 25px;
}

.subsection > .name {
    margin-bottom: 15px;
    color: #0e0e30;
    font-weight: 500;
    font-size: 20px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;

}


@media (min-width: 1600px) {
    .courses {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 860px) {
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}

.course {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 25px;
    position: relative;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.course:hover {
    transform: scale(1.02);
    box-shadow: 0 24px 24px rgba(0, 0, 0, 0.05);
}

.course .address {
    font-size: 10px;
    color: #282828;
    margin-right: 80px;
}

.course .students-count {
    position: absolute;
    right: 25px;
    top: 20px;
    color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.course .students-count span {
    font-size: 12px;
    margin-bottom: 5px;
}

.course .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 28px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #282828;
    background: conic-gradient(from 154.27deg at 50% 50%, #e7e7e7 0deg, rgba(255, 255, 255, 0) 360deg), #bababa;
    border-radius: 10px;
}

.course .counter.low {
    background: conic-gradient(from 154.27deg at 50% 50%, #FF3838 0deg, rgba(255, 122, 122, 0) 360deg), #FF6161;
    border-radius: 10px;
}

.course .counter.high {
    background: conic-gradient(from 154.27deg at 50% 50%, #E1FF38 0deg, rgba(255, 255, 255, 0) 360deg), #8AFF61;
}

.course .name {
    display: block;
    font-size: 20px;
    color: #282828;
    margin-top: 50px;
}

.course .mentor {
    font-size: 14px;
    color: #282828;
    margin-top: 15px;
}

.course .dates {
    font-size: 12px;
    color: #282828;
    margin-top: 14px;
}

.course .schedule {
    font-size: 12px;
    color: #282828;
    margin-top: 50px;
}

.course .duration {
    font-size: 12px;
    position: absolute;
    color: #282828;
    bottom: 20px;
    right: 25px;
}

.mini-course {
    width: 100%;
    position: relative;
    padding: 13px 18px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.mini-course .address {
    font-size: 8px;
    color: #282828;
    margin-right: 55px;
}

.mini-course .counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 6px;
    width: 50px;
    height: 19px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #282828;
    background: conic-gradient(from 154.27deg at 50% 50%, #e7e7e7 0deg, rgba(255, 255, 255, 0) 360deg), #bababa;
    border-radius: 5px;
}

.mini-course .counter.low {
    background: conic-gradient(from 154.27deg at 50% 50%, #FF3838 0deg, rgba(255, 122, 122, 0) 360deg), #FF6161;
}

.mini-course .counter.high {
    background: conic-gradient(from 154.27deg at 50% 50%, #E1FF38 0deg, rgba(255, 255, 255, 0) 360deg), #8AFF61;
}

.mini-course .name {
    display: block;
    font-size: 20px;
    color: #282828;
    margin-top: 20px;
}

.mini-course .mentor {
    font-size: 10px;
    color: #282828;
    margin-top: 1px;
}

.mini-course .time {
    margin-top: 20px;
    font-size: 8px;
    line-height: 9px;
    color: #616161;
}

.mini-course .schedule {
    font-size: 8px;
    color: #282828;
    margin-top: 4px;
}

.mini-course .duration {
    font-size: 9px;
    position: absolute;
    color: #282828;
    bottom: 12px;
    right: 10px;
}

.course-selector {
    display: flex;
    flex-flow: row wrap;
}

.course-selector .mini-course {
    width: 247px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#page-id {
    display: none;
}

table.crm-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    border: 1px solid #e8e6e6;
    border-radius: 4px;
    padding: 0 8px;

}

table.crm-table td, table.crm-table th {
    border: none;
}

table.crm-table th {
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
    color: #282828;
}

table.crm-table tbody td {
    padding: 10px;
    background: white;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
}

table.crm-table tr.is-success td {
    background: #e1f2e2;
}

table.crm-table tbody tr:nth-child(even) td {
    background: none;
}

table.crm-table tbody tr.is-success:nth-child(even) td {
    background: #e1f2e2;
}

table.crm-table tbody td:first-child {
    border-radius: 5px 0 0 5px;
    font-size: 15px;
}

table.crm-table tbody td:last-child {
    border-radius: 0 5px 5px 0;
}

table.crm-table tbody tr:hover td {
    background: #eaeaea;
}

table.crm-table tbody tr.is-success:hover td {
    background: #eaeaea;
}

table.crm-table.is-small .button {
    height: 20px;
    font-size: 12px;
}

table.crm-table.is-small button.button {
    padding-top: 0;
}

table.crm-table.is-small .button .icon {
    height: 0.5em;
    width: 0.3em;
}

table.crm-table.is-small tbody td {
    padding: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 12px;
}

label.optional {
    color: grey;
}

.notifications {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 31;
}

.notifications .notification {
    margin-bottom: 20px;
    box-shadow: 0 0 15px 1px #AAA;
}

.to-right {
    float: right;
}

.clearfix {
    clear: both;
}

.info-block {
    margin-right: 4px;
    margin-bottom: 8px;
    height: 85px;
    display: block;
    float: left;
    background: #FFF;
    border-radius: 10px;
    padding: 12px 20px;
    color: #282828;
    font-size: 13px;
}

.info-block .big-text {
    font-size: 18px;
}

.info-block .small-text {
    font-size: 12px;
}

.info-block .col {
    display: block;
    max-width: 120px;
    margin-right: 16px;
    float: left;
    height: 100%;
}

.info-block .col .name {
    font-weight: bold;
    margin-bottom: 6px;
    color: #0e0e30;
}

.modal {
    z-index: 40 !important;
    padding: 0 20px;
}

.modal-block {
    position: relative;
    display: block;
    background: #FFF;
    border-radius: 10px;
    padding: 29px;
    color: #282828;
    font-size: 13px;
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.14);
    word-break: break-word;
    width: 100%;
    margin: 0 auto;
}

.modal-block.flat {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.14);
}

.modal-block .modal-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #0e0e30;
}

.modal-block .modal-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-block .modal-progress > div {
    background-repeat: no-repeat;
    background-size: 128px 128px;
    background-image: url('/static/img/progress.gif');
    width: 128px;
    height: 128px;
}

.leave-lesson, .bulk {
    max-width: 444px;
}

.crm-form .form-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.dot {
    margin-left: 5px;
}

.crm-form .form-2-columns .tags-input {
    min-height: auto !important;
}

.crm-form .form-2-columns .tags-input .input {
    height: auto;
}

.crm-form .form-2-columns .select {
    width: 100%;
}

.modal-block .bottom-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.modal-block .bottom-buttons .crm-button {
    min-width: 120px;
    margin-bottom: 20px;
    padding: 10px 20px;
    margin-left: 20px;
}

.crm-form label {
    display: block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    color: #575757;
}

.crm-form label.required {
    color: #2a2a2a;
}

.crm-form label.required::after {
    content: "*";
}

.crm-form input[type='checkbox'] {
    width: auto;
    margin-top: 10px;

}

.crm-form input, .crm-form select, .crm-form textarea {
    width: 100%;
    background: none;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(169, 169, 169, 0.79);
    outline: none;
    border-radius: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
}

.crm-form input:focus, .crm-form select:focus, .crm-form textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(169, 169, 169, 0.79);
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: rgba(137, 137, 137, 0.79);
    z-index: 0;
}

.crm-form input[type='url'] {
    color: #31529A;
}

.crm-form .helptext {
    font-size: 11px;
    color: #4a4a4a;
}

.crm-form .errorlist {
    color: red;
    font-size: 11px;
}

.modal-block .separator {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    position: relative;
}

.modal-block .separator::after {
    content: ' ';
    display: block;
    position: absolute;
    left: -29px;
    right: -29px;
    height: 1px;
    clear: both;
    background: rgba(226, 226, 226, 0.79);
}

.clickable {
    cursor: pointer;
}

input.expandable {
    transition: width 400ms ease;
}

input.expandable:focus {
    width: 200%;
}

.side-info-panel::-webkit-scrollbar {
    display: none;
}

.side-info-panel {
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    min-width: 302px;
    width: 25%;
    padding: 30px 10px;
    background: #F0F2F7;
    box-shadow: 0 14px 38px rgba(0, 0, 0, 0.098);
    z-index: 39;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-info-panel .panel-close {
    position: absolute;
    top: 10px;
    left: 14px;
    cursor: pointer;
}

.side-info-panel .panel-title {
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    color: #282828;
    margin-bottom: 30px;
}

.side-info-panel .side-block {
    padding: 16px;
    background: #F9F9FB;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.side-info-panel .side-group-block {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 14px;
    background: #e3e7f0;
}

.side-info-panel .side-group-block .side-block {
    margin-bottom: 0;
}

.side-info-panel .side-group-block .bridge {
    padding: 0 10px;
    height: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.side-info-panel .side-group-block .bridge hr {
    margin: 0;
    height: 100%;
    background: #F9F9FB;
    width: 2px;
}

.side-info-panel .side-block .icon-btns {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-flow: row nowrap;
    color: #282828;
}

.side-info-panel .side-block .icon-btns img {
    width: 14px;
}

.side-info-panel .side-block .icon-btns a {
    width: 14px;
    margin-left: 12px;
    color: #282828;
}

.side-info-panel .side-block .icon-inline-btn {
    color: #282828;
    display: inline-block;
}

.side-info-panel .side-block .icon-inline-btn a {
    width: 14px;
    margin-left: 8px;
    color: #282828;
}

.side-info-panel .side-block .type-info {
    font-size: 10px;
    color: #282828;
}

.side-info-panel .side-block .username-info {
    flex-grow: 1;
    margin-top: 15px;
}

.side-info-panel .side-block .username-info div {
    background: #EAEEF5;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 20px;
    color: #282828;
    word-wrap: break-spaces;
    display: inline-block;
}

.side-info-panel .side-block .avatar-info {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
    background: #FFF;
    border-radius: 30px;
    flex-grow: 0;
    flex-basis: 60px;
}

.side-info-panel .side-block .single-info {
    font-size: 12px;
    color: #282828;
    margin-top: 8px;
}

.side-info-panel .side-block .history-info {
    font-size: 12px;
    color: #282828;
    margin-top: 12px;
    text-align: left;
    clear: both;
}

.side-info-panel .side-block .history-info:first-child {
    margin-top: 8px;
}

.side-info-panel .side-block .history-info .datetime {
    font-size: 10px;
    color: #595959;
}

.side-info-panel .side-block .history-info .value {
    font-size: 12px;
    margin-top: 4px;
    color: #282828;
}

.side-info-panel .side-block .history-info > .icons {
    margin-top: 4px;
}

.side-info-panel .side-block .history-info > .icons > span {
    margin-right: 4px;
}

.side-info-panel .side-block .key-info {
    font-size: 12px;
    color: #282828;
    display: flex;
    margin-top: 5px;
}

.side-info-panel .side-block .key-info .key {
    margin-right: 10px;
    flex-grow: 0;
    flex-basis: 110px;
    width: 110px;
    padding: 4px 0;
}

.side-info-panel .side-block .key-info .value {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.side-info-panel .side-block .key-info .value img.icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.side-info-panel .side-block .key-info .value div {
    padding: 4px 6px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 5px;
    word-break: break-all;
}

.side-info-panel .side-block .title-info {
    font-size: 15px;
    color: #282828;
    font-weight: 500;
    padding-right: 14px;
}

.side-info-panel .side-block .schedule-info {
    font-size: 12px;
    color: #282828;
}

.side-info-panel .side-block .students-count-info {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #282828;
}

.side-info-panel .side-block progress.months {
    margin-right: 10px;
    margin-top: 1px;
}

.side-info-panel .side-block .button-info {
    position: absolute;
    top: -3px;
    right: 0;
}

.payments-view {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.payments-view .item {
    width: 22px;
    height: 22px;
    background: #cecece;
    border-radius: 22px;
    margin-top: 5px;
}

.payments-view .item.paid {
    background: #67C47C;
}

.payments-view .item.not-paid {
    background: #ED8282;
}

.payments-view .divider {
    width: 22px;
    content: " ";
    height: 1px;
    background: #DEDEDE;
    margin-top: 5px;
}

#lead-history-block .side-block {
    max-height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#lead-history-block .side-block::-webkit-scrollbar {
    display: none;
}

#lead-url-block {
    margin-bottom: 10px;
    background-color: #F9F9FB;
    border-radius: 10px;
}

.crm-button {
    color: #3f3f3f;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    padding: 8px 20px;
    border: 1px solid #838383;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFF;
    min-width: 120px;
    text-align: center;
}

.crm-button:hover {
    cursor: pointer;
    background: #f8f8f8;
}

.crm-button.red {
    border: 1px solid rgb(216, 0, 0);
    color: rgb(194, 0, 0);
    background: rgba(255, 18, 18, 0.08);
}

.crm-button.red:hover {
    background: rgba(255, 18, 18, 0.13);
}

.crm-button.info {
    border: 1px solid rgb(0, 174, 198);
    color: rgb(0, 159, 180);
    background: rgba(18, 255, 219, 0.08);
}

.crm-button.info:hover {
    background: rgba(18, 255, 219, 0.13);
}

.select:not(.is-multiple) {
    height: auto;
}

.big-button {
    width: 100%;
    display: block;
    text-align: center;
    background: white;
    border-radius: 5px;
    padding: 12px;
    color: #282828;
    font-size: 20px;
    line-height: 23px;
}

.leads-board-container {
    flex: 1 1 auto;
    margin-top: 20px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    min-height: 100%;
}

.leads-board {
    display: flex;
    width: calc(225px * 6);
    align-items: stretch;
}

.leads-lane {
    flex: 0 0 219px;
    margin-right: 6px;
    display: flex;
    flex-direction: column;
}

.button.is-info.sort {
    width: 100%;
}


.lead-content {
    flex: 1 1 auto;
    overflow-y: scroll;
    background: #e3e3e3;
    border-radius: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.lead-content::-webkit-scrollbar {
    display: none;
}

.lead-content .progress-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.leads-board .lead {
    display: block;
    min-height: 120px;
    width: 202px;
    margin: 18px auto;
    padding: 18px 18px 10px;
    background: #FFFFFF;
    z-index: 2;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px 10px 5px 5px;
    cursor: pointer;
}

.leads-board .lead .name {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #282828;
    word-wrap: break-word;
}

.lead.selected {
    box-shadow: 0 0 7px #0479ff;
    background: #f0f5f6;
}

.leads-board .lead .interest {
    margin-top: 4px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282828;
    margin-bottom: 20px;
}

.leads-board .lead .created-date {
    float: left;
    display: inline-block;
    font-size: 10px;
    line-height: 20px;
    color: #525252;
}

.leads-board .lead .icon {
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.leads-board .lead .separator {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    position: relative;
}

.leads-board .lead .separator::after {
    content: ' ';
    display: block;
    position: absolute;
    left: -18px;
    right: -18px;
    height: 1px;
    clear: both;
    background: rgba(226, 226, 226, 0.79);
}

.leads-board .lead .created-by {
    font-size: 12px;
    color: #7C7C7C;
}

.leads-board .lead .created-by span {
    color: #282828;
}

.dropdown-item label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #282828;
    margin-bottom: 5px;
}

.ui-datepicker-header {
    border: 1px solid #f5f5f5 !important;;
    background: #f5f5f5 !important;;
}

.ui-datepicker-calendar .ui-state-hover, .ui-datepicker-calendar .ui-widget-content .ui-state-hover, .ui-datepicker-calendar .ui-widget-header .ui-state-hover, .ui-datepicker-calendar .ui-state-focus, .ui-datepicker-calendar .ui-widget-content .ui-state-focus, .ui-datepicker-calendar .ui-widget-header .ui-state-focus, .ui-datepicker-calendar .ui-button:hover, .ui-datepicker-calendar .ui-button:focus {
    border: 1px solid #f5f5f5 !important;;
    background: #d5d5d5 !important;;
}

.ui-datepicker-calendar .ui-state-default, .ui-datepicker-calendar .ui-widget-content .ui-state-default, .ui-datepicker-calendar .ui-widget-header .ui-state-default, .ui-datepicker-calendar .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-datepicker-calendar .ui-button.ui-state-disabled:active {
    border: 1px solid #f5f5f5 !important;
}


.calendar-board-container {
    flex: 1 1 auto;
    margin-top: 20px;
    overflow-x: scroll;
    width: 100%;
    display: flex;
    min-height: 450px;
}

.calendar-board {
    display: flex;
    width: calc(225px * 6);
    align-items: stretch;
}

.calendar-lane .lane-content {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    width: 200px;
    z-index: 2;
    cursor: text;
}

.calendar-lane .lane-content::-webkit-scrollbar {
    display: none;
}

.event {
    overflow: hidden;
    background-color: #00d1b2;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    cursor: pointer;
    min-height: 64px !important;
    transition: .3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 8;
}

.event:hover {
    transform: translateY(-2px);
}

.event.canceled {
    background-color: #d5d3d3 !important;
}

.event .canceled {
    position: absolute;
    width: 100px;
    background: rgb(198, 57, 57);
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: #FFF;
    top: 16px;
    right: -23px;
    transform: rotate(45deg);
}

.event .time {
    font-size: 12px;
    color: #f2f2f2;
}

.event .main-info {
    overflow: hidden;
}

.event .divider {
    height: 100%;
    width: 1px;
    background-color: #282828;
}

.event .title-1 {
    font-size: 14px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    text-overflow: ellipsis;
}

.event .subtitle {
    font-size: 12px;
    margin-top: 2px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson-info-panel {
    z-index: 1430;
    top: 0;
    right: 0px;
    overflow-y: scroll;
    position: fixed;
    width: 28%;
    min-width: 422px;
    padding: 30px;
    background: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 0px 38px rgba(0, 0, 0, 0.098);
    height: 100%;
}

.lesson-info-panel .panel-close {
    position: absolute;
    top: 12px;
    right: 24px;
    cursor: pointer;
}

.lesson-info-panel .panel-title {
    font-weight: 500;
    font-size: 20px;
    color: #282828;
    margin-bottom: 30px;
}

.lesson-info-panel .course-color {
    width: 22px;
    background-color: #00b89c;
    height: 100px;
    margin-right: 22px;
    float: left;
}

.lesson-info-panel .course-title {
    font-weight: 500;
    font-size: 18px;
    color: #282828;
}

.lesson-info-panel .course-mentor {
    font-size: 18px;
    color: #282828;
}

.lesson-info-panel .course-time {
    font-size: 18px;
    margin-top: 15px;
    color: #474747;
}

.lesson-info-panel .join-lesson-link {
    margin-top: 40px;
    text-align: center;
}

.lesson-info-panel .join-lesson-link a {
    background: #5A73A0;
    border-radius: 10px;
    padding: 16px 18px;
    color: #282828;
    font-size: 16px;
}

.info-panel {
    z-index: 1430;
    top: 0;
    right: 0px;
    overflow-y: scroll;
    position: fixed;
    width: 28%;
    min-width: 422px;
    padding: 30px;
    background: #FAFAFA;
    border-radius: 10px;
    box-shadow: 0 0px 38px rgba(0, 0, 0, 0.098);
    height: 100%;
}

.info-panel .panel-close {
    position: absolute;
    top: 12px;
    right: 24px;
    cursor: pointer;
}

.info-panel .panel-title {
    font-weight: 500;
    font-size: 20px;
    color: #282828;
    margin-bottom: 30px;
}

.info-panel .event-color {
    width: 22px;
    background-color: #00b89c;
    height: 100px;
    margin-right: 22px;
    float: left;
}

.info-panel .event-title {
    font-weight: 500;
    font-size: 18px;
    color: #282828;
}

.info-panel .event-subtitle {
    font-size: 18px;
    color: #282828;
}

.info-panel .event-time {
    font-size: 18px;
    margin-top: 15px;
    color: #474747;
}

.info-panel .join-event-link {
    margin-top: 40px;
    text-align: center;
}

.info-panel .join-event-link a {
    background: #00b89c;
    border-radius: 10px;
    padding: 16px 18px;
    color: #282828;
    font-size: 16px;
}

.info-panel .button-link {
    margin-top: 40px;
    text-align: center;
}

.info-panel .button-link a {
    background: #ffc700;
    border-radius: 10px;
    padding: 16px 18px;
    color: #282828;
    font-size: 16px;
}

.info-panel #event-description {
    margin-top: 20px;
    font-size: 14px;
}


.attendance-list {
    margin-top: 40px;
    font-size: 15px;
}

.attendance-list .cell {
    height: 35px;
}

.attendance-list .student-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

.attendance-list .student-line .student-name {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 8px;
}

.attendance-list .attendance.cell {
    flex: 0 0 auto;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.attendance-list .absence.cell {
    flex: 0 0 auto;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.attendance-list .attended-cell {
    cursor: pointer;
}

table tr.disabled-row td {
    color: #929292;
}

.dot {
    width: 11px;
    height: 11px;
    background: grey;
    display: inline-block;
    border-radius: 6px;
}

.dot.is-success {
    width: 11px;
    height: 11px;
    background: rgba(1, 157, 16, 0.42);
}

.dot.is-danger {
    width: 11px;
    height: 11px;
    background: rgba(237, 130, 130, 0.6);
}

.groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group {
    width: 300px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 25px;
    position: relative;
    margin-right: 35px;
    margin-bottom: 20px;
}

.group .counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9px;
    top: 12px;
    width: 55px;
    height: 28px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #282828;
    background: conic-gradient(from 154.27deg at 50% 50%, #eeff8e 0deg, rgba(255, 255, 255, 0) 360deg), #e2ff61;
    border-radius: 10px;
}

.group .name {
    display: block;
    font-size: 18px;
    color: #282828;
    margin-right: 40px;
}

.group .details {
    font-size: 14px;
    color: #282828;
    margin-top: 15px;
}

.academic-period {
    background: rgb(252, 252, 252);
    padding: 10px 20px;
    font-weight: 500;
    color: rgb(67, 67, 67);
    position: relative;
    font-size: 14px;
}

.academic-period > small {
    color: rgb(118, 118, 118);
    font-size: 12px;
}

.academic-period:before {
    top: 50%;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #f1f2f1;
    content: "";
    position: absolute;
}

.academic-period:after {
    top: 50%;
    right: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #f1f2f1;
    content: "";
    position: absolute;
}

.subjects {
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: row wrap;
}

.subject {
    width: 300px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 25px;
    position: relative;
    margin-right: 35px;
    margin-bottom: 20px;
}

.subject .counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9px;
    top: 12px;
    width: 55px;
    height: 28px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #282828;
    background: conic-gradient(from 154.27deg at 50% 50%, #eeff8e 0deg, rgba(255, 255, 255, 0) 360deg), #e2ff61;
    border-radius: 10px;
}

.subject .name {
    display: block;
    font-size: 18px;
    color: #282828;
    margin-right: 40px;
}

.subject .mentors {
    font-size: 12px;
    color: #5e5e5e;
    margin-top: 5px;
    font-style: italic;
}

.subject .location {
    font-size: 14px;
    color: #282828;
    margin-top: 15px;
}

.column-header {
    font-size: 16px;
    color: #282828;
    font-weight: 500;
}

.stat-card {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 16px 25px;
    position: relative;
    margin: 10px 0;
    box-shadow: 1px 1px 1px 0px rgba(217, 217, 217, 0.71);
}

.stat-card .value {
    color: #282828;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
}

.stat-card .subtitle {
    color: rgb(107, 109, 124);
    font-size: 14px;
}

.stat-card .link {
    position: absolute;
    color: rgb(107, 109, 124);
    font-size: 14px;
    top: 16px;
    right: 16px;
}

.mobile-sidebar {
    display: none;
    padding: 15px 26px;
    background: #F3F3F3;
    border: 1px solid #edebeb;
    position: fixed;
    width: 100%;
    z-index: 11;
    color: #4f6976;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
}

.close-burger {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #4f6976;
    font-size: 20px;
}

.form-box {
    max-width: 560px;
    margin: 10% auto;
}

.button.is-white {
    color: #15153a
}

@media (max-width: 768px) {
    table.crm-table {
        width: 800px;
    }

    .subcontent {
        width: 100% !important;
        overflow-x: scroll;
    }

    .add-course-box {
        width: 100% !important;
        max-width: 560px;
    }

    .mobile-sidebar {
        display: block;
    }

    .course {
        width: 100%;
        margin-right: 0;
    }


    .left-menu {
        position: absolute;
        height: 100%;
        left: -100%;
        transition: .5s ease-in-out;
        top: 62px;
        padding: 20px 0;
    }

    .left-menu.show {
        left: 0;
    }

    .crm-content {
        padding: 75px 26px 20px;
    }

    .close-burger {
        display: block;
    }

    .crm-form {
        display: flex;
        flex-direction: column;
    }

    .course-selector .mini-course {
        width: 100%;
        margin-right: 0;
    }

    .crm-content .courses-list .item {
        padding: 6px;
    }

}

@media (max-width: 460px) {
    .crm-content {
        padding: 75px 16px 20px;
    }

    .crm-form .form-2-columns {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
}

.add-course-box {
    margin: 0 auto;
    width: 560px;
}

.add-group-select {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select,
    textarea,
    input {
        font-size: 16px;
    }
}

.control.has-icons-left .icon, .control.has-icons-right .icon {
    z-index: 10 !important;
}

.white-card {
    width: 100%;
    background: #FCFCFC;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 20px;
}

.white-card:last-child {
    margin-bottom: 0;
}

.tab {
    display: inline-block;
    width: 20px;
}

.text-success {
    color: #00c4a7;
}

.text-info {
    color: #3AA3E3;
}

.text-warning {
    color: #e88e00;
}

.table.is-small th, .table.is-small td {
    font-size: 14px;
}

.table.is-small .button {
    height: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.table.is-small .button span {
    font-size: 10px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.top-margin {
    margin-top: 20px;
}

.fstSingleMode.fstActive .fstResults {
    max-height: 150px;
}

.fstSingleMode .fstToggleBtn {
    padding: 7px 4px 6px 4px;
}

.spoiler .spoiler-trigger {
    cursor: pointer;
}

.spoiler .spoiler-caret {
    transform: rotate(-90deg);
}

.spoiler.is-expanded .spoiler-caret {
    transform: rotate(0deg);
}

.actions {
    padding: 16px;
    background: #fafafa;
    border-radius: 10px;
    margin: 20px 0;
}

.actions h1 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.inner-task {
    margin-bottom: 12px;
}

.inner-task .date {
    font-size: 12px;
    color: #595959;
}

.inner-task {
    font-size: 14px;

}

.inner-task .b {
    color: #00947e;
}

.history-manager-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media (max-width: 860px) {
    .history-manager-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.full_text {
    width: 180px;
    height: auto;
}

.non-button {
    border: none;
    background: transparent none;
    padding: 0;
    outline: none;
}

.language-switch {
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}

.language-switch.selected {
    background: rgba(224, 224, 224, 0.59);
}

.language-switch:hover {
    background: rgba(210, 210, 210, 0.59);
}

.leads-lane .lane-title {
    min-height: 50px;
    padding: 0 5px;
}

.leads-lane .lane-title .num {
    margin-left: 5px;
    font-weight: bolder;
}

label[for='image-clear_id'] {
    display: inline;
}

.periods-table {
    margin-top: 16px;
}

.periods-table label {
    margin-top: 0;
}

.periods-table .columns:not(:last-child) {
    margin-bottom: 0;
}

.modal-block .modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
}

.modal-block .modal-close::after, .modal-block .modal-close::before {
    background-color: #454545;
}

.reward-unit {
    font-size: small;
    color: #0a0a0a;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}

.canceled-row {
    color: grey !important;
}

.inactive {
    color: #ca3939;
}

.active {
    color: #589942;
}

.crm-table td.plus-amount:before {
    content: "+";
}

.crm-table td.plus-amount {
    color: #00b300;
    font-weight: 500;
    font-size: 12px;
}

.crm-table td.minus-amount:before {
    content: "-";
}

.crm-table td.minus-amount {
    color: #9800a9;
    font-weight: 500;
    font-size: 12px;
}


.crm-table .canceled-row td.minus-amount, .crm-table .canceled-row td.plus-amount {
    color: grey;
}

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.dashboard-column {
    display: flex;
    flex-direction: column;
    height: 700px;
    flex: 1 0 250px
}


.dashboard-column .dashboard-column-header {
    padding: 20px;
}

.dashboard-column .dashboard-column-list {
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.dashboard-column-list::-webkit-scrollbar {
    display: none; /* Chrome Safari Opera */
}